**Thành Viên: Phạm Đức Thể, Trần Triệu Vũ, Võ Minh Trí**

**MSSV: 19522253, 19522539, 19522396**

**Lớp: DS200.M21**

**Nội Dung: PySpark - RDD**

**Ngày: 30/04/2022** 

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1MzSbCLf_bULWv6zj6LRtHkmoWvlRXFJ6?usp=sharing)

# **Big Data - PySpark - RDD**

In [1]:
!pip install pyspark==3.0.1

Collecting pyspark==3.0.1
  Downloading pyspark-3.0.1.tar.gz (204.2 MB)
     |████████████████████████████████| 204.2 MB 34 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 27.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=10411a84ab57b39429f4b678f8ec64d843c395cbe4777e22688379a6a8ca3f58
  Stored in directory: /root/.cache/pip/wheels/5e/34/fa/b37b5cef503fc5148b478b2495043ba61b079120b7ff379f9b
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [2]:
import pyspark
from pyspark.sql import SparkSession
from heapq import nlargest, nsmallest

In [3]:
spark = SparkSession.builder.appName("Assignment03").getOrCreate()

In [4]:
PATH = '/content/drive/MyDrive/TÀI LIỆU HỌC TẬP ĐẠI HỌC 2019-2023/NĂM 3 2021-2022/HỌC KỲ 2 2021 - 2022/DS200.M21 - PHÂN TÍCH DỮ LIỆU LỚN/THỰC HÀNH/LAB/Assignment03 - 30 04 2022/'

In [5]:
trans240RDD = spark.sparkContext.textFile(PATH + 'trans240.csv')
trans240RDD.collect()

['00,Jun-26-2011,4000001,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit',
 '01,May-26-2011,4000002,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit',
 '02,Jan-06-2011,4000002,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit',
 '03,May-06-2011,4000003,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit',
 '04,Dec-17-2011,4000002,98.81,Team Sports,Field Hockey,Nashville  ,Tennessee,credit',
 '05,Feb-14-2011,4000004,193.63,Outdoor Recreation,Camping & Backpacking & Hiking,Chicago,Illinois,credit',
 '06,Oct-28-2011,4000005,27.89,Puzzles,Jigsaw Puzzles,Charleston,South Carolina,credit',
 '07,Jul-14-2011,4000006,96.01,Outdoor Play Equipment,Sandboxes,Columbus,Ohio,credit',
 '08,Jan-17-2011,4000006,10.44,Winter Sports,Snowmobiling,Des Moines,Iowa,credit',
 '09,May-17-2011,4000006,152.46,Jumping,Bungee Jumping,St. Petersburg,Florida,credit',
 '10,May-29-2011,4000007,180.28,Outdoor Recreation,Archery,Reno,Nevada,credit',
 '11,Jun-18-2011,4000009,121.39,Outdoor Play Equipment,Swing Sets,Columbus,Ohio,credit',
 '12,Aug-02-2011,4000009,41.52,Indoor Games,Bowling,San Francisco,California,credit',
 '13,Mar-13-2011,4000010,107.8,Team Sports,Field Hockey,Honolulu  ,Hawaii,credit',
 '14,Feb-25-2011,4000010,36.81,Gymnastics,Vaulting Horses,Los Angeles,California,credit',
 '15,Oct-20-2011,4000001,137.64,Combat Sports,Fencing,Honolulu  ,Hawaii,credit',
 '16,May-28-2011,4000010,35.56,Exercise & Fitness,Free Weight Bars,Columbia,South Carolina,credit',
 '17,Oct-18-2011,4000008,75.55,Water Sports,Scuba Diving & Snorkeling,Omaha,Nebraska,credit',
 '18,Nov-18-2011,4000008,88.65,Team Sports,Baseball,Salt Lake City,Utah,credit',
 '19,Aug-28-2011,4000008,51.81,Water Sports,Life Jackets,Newark,New Jersey,credit',
 '20,Jun-29-2011,4000005,41.55,Exercise & Fitness,Weightlifting Belts,New Orleans,Louisiana,credit',
 '21,Feb-14-2011,4000005,45.79,Air Sports,Parachutes,New York,New York,credit',
 '22,Oct-10-2011,4000009,19.64,Water Sports,Kitesurfing,Saint Paul,Minnesota,credit',
 '23,Feb-05-2011,4000009,99.5,Gymnastics,Gymnastics Rings,Springfield,Illinois,credit',
 '24,Oct-06-2011,4000003,151.2,Water Sports,Surfing,Plano,Texas,credit',
 '25,Oct-14-2011,4000009,144.2,Indoor Games,Darts,Phoenix,Arizona,credit',
 '26,Nov-10-2011,4000009,31.58,Combat Sports,Wrestling,Orange,California,credit',
 '27,Sep-29-2011,4000010,66.4,Games,Mahjong,Fremont,California,credit',
 '28,Dec-05-2011,4000008,79.78,Team Sports,Cricket,Lexington,Kentucky,credit',
 '29,Mar-06-2011,4000001,126.9,Outdoor Recreation,Hunting,Phoenix,Arizona,credit',
 '30,Mar-14-2011,4000001,47.05,Water Sports,Swimming,Lincoln,Nebraska,credit',
 '31,Nov-28-2011,4000008,5.03,Games,Dice & Dice Sets,Los Angeles,California,credit',
 '32,Jan-29-2011,4000008,20.13,Team Sports,Soccer,Springfield,Illinois,credit',
 '33,Jun-15-2011,4000008,154.15,Outdoor Recreation,Lawn Games,Nashville  ,Tennessee,credit',
 '34,Jun-05-2011,4000008,98.96,Team Sports,Indoor Volleyball,Atlanta,Georgia,credit',
 '35,Dec-04-2011,4000008,185.26,Games,Board Games,Centennial,Colorado,credit',
 '36,Oct-13-2011,4000007,35.66,Team Sports,Football,Saint Paul,Minnesota,credit',
 '37,Apr-19-2011,4000007,20.2,Outdoor Recreation,Shooting Games,San Diego,California,credit',
 '38,May-08-2011,4000007,150.6,Outdoor Recreation,Camping & Backpacking & Hiking,Hampton  ,Virginia,credit',
 '39,Dec-03-2011,4000006,174.36,Outdoor Play Equipment,Swing Sets,Pittsburgh,Pennsylvania,credit',
 '40,Jul-11-2011,4000005,165.1,Team Sports,Cheerleading,Reno,Nevada,credit',
 '41,Apr-16-2011,4000004,28.11,Indoor Games,Bowling,Westminster,Colorado,cash',
 '42,Oct-09-2011,4000004,38.52,Outdoor Recreation,Tetherball,Denton,Texas,cash',
 '43,Apr-22-2011,4000004,32.34,Water Sports,Water Polo,Las Vegas,Nevada,cash',
 '44,Nov-09-2011,4000001,135.37,Water Sports,Surfing,Seattle,Washington,credit',
 '45,Nov-27-2011,4000001,90.04,Exercise & Fitness,Abdominal Equipment,Honolulu  ,Hawaii,credit',
 '46,May-27-2011,4000001,52.29,Gymnastics,Vaulting Horses,Cleveland,Ohio,credit',
 '47,Oct-23-2011,4000008,100.1,Outdoor Play Equipment,Swing Sets,Everett,Washington,credit',
 '48,Sep-27-2011,4000007,157.94,Exercise & Fitness,Exercise Bands,Philadelphia,Pennsylvania,credit',
 '49,Dec-07-2011,4000010,144.59,Jumping,Jumping Stilts,Cambridge,Massachusetts,credit',
 '50,Oct-20-2011,4000010,55.93,Jumping,Pogo Sticks,Everett,Washington,credit',
 '51,Feb-17-2011,4000002,32.65,Water Sports,Life Jackets,Columbus,Georgia,cash',
 '52,Apr-02-2011,4000005,44.82,Outdoor Play Equipment,Lawn Water Slides,Hampton  ,Virginia,cash',
 '53,Dec-06-2011,4000004,44.46,Water Sports,Scuba Diving & Snorkeling,Charleston,South Carolina,cash',
 '54,Mar-10-2011,4000007,154.87,Outdoor Recreation,Running,Long Beach,California,credit',
 '55,Dec-16-2011,4000006,106.11,Water Sports,Swimming,New York,New York,credit',
 '56,Jun-21-2011,4000002,176.63,Outdoor Recreation,Geocaching,Boston,Massachusetts,credit',
 '57,Dec-20-2011,4000003,178.2,Outdoor Recreation,Skating,San Jose,California,credit',
 '58,Dec-29-2011,4000002,194.86,Water Sports,Windsurfing,Oklahoma City,Oklahoma,credit',
 '59,Jul-11-2011,4000001,21.43,Winter Sports,Snowboarding,Philadelphia,Pennsylvania,cash',
 '60,Aug-06-2011,4000010,29.79,Jumping,Jumping Stilts,Cambridge,Massachusetts,credit',
 '61,Mar-22-2011,4000009,43.49,Combat Sports,Wrestling,Orange,California,credit',
 '62,Jun-02-2011,4000001,62.63,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit',
 '63,Mar-20-2011,4000003,98.73,Water Sports,Surfing,Plano,Texas,credit',
 '64,Jan-14-2011,4000004,130.12,Outdoor Recreation,Camping & Backpacking & Hiking,Chicago,Illinois,credit',
 '65,Aug-28-2011,4000005,25.41,Outdoor Play Equipment,Lawn Water Slides,Hampton  ,Virginia,cash',
 '66,Jul-23-2011,4000002,151.18,Team Sports,Field Hockey,Nashville  ,Tennessee,credit',
 '67,Aug-19-2011,4000002,396.48,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit',
 '68,Aug-11-2011,4000008,28.14,Team Sports,Soccer,Springfield,Illinois,credit',
 '69,May-09-2011,4000010,32.23,Team Sports,Field Hockey,Honolulu  ,Hawaii,credit',
 '70,Jun-06-2011,4000002,4.66,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit',
 '71,Mar-20-2011,4000004,42.14,Outdoor Recreation,Tetherball,Denton,Texas,cash',
 '72,Apr-04-2011,4000001,51.34,Combat Sports,Fencing,Honolulu  ,Hawaii,credit',
 '73,Jun-12-2011,4000003,299.07,Water Sports,Surfing,Plano,Texas,credit',
 '74,Jul-05-2011,4000007,251.05,Outdoor Recreation,Camping & Backpacking & Hiking,Hampton  ,Virginia,credit',
 '75,Mar-08-2011,4000008,188.32,Team Sports,Indoor Volleyball,Atlanta,Georgia,credit',
 '76,Apr-24-2011,4000010,71.12,Gymnastics,Vaulting Horses,Los Angeles,California,credit',
 '77,Aug-22-2011,4000007,30.82,Outdoor Recreation,Running,Long Beach,California,credit',
 '78,Jan-07-2011,4000007,228.07,Exercise & Fitness,Exercise Bands,Philadelphia,Pennsylvania,credit',
 '79,Sep-01-2011,4000009,202.89,Indoor Games,Darts,Phoenix,Arizona,credit',
 '80,Jun-10-2011,4000001,70.68,Outdoor Recreation,Hunting,Phoenix,Arizona,credit',
 '81,Jan-01-2011,4000010,106.77,Games,Mahjong,Fremont,California,credit',
 '82,Nov-04-2011,4000004,358.22,Outdoor Recreation,Camping & Backpacking & Hiking,Chicago,Illinois,credit',
 '83,Dec-20-2011,4000008,138.91,Team Sports,Baseball,Salt Lake City,Utah,credit',
 '84,May-01-2011,4000008,9.87,Games,Dice & Dice Sets,Los Angeles,California,credit',
 '85,Dec-20-2011,4000007,194.88,Outdoor Recreation,Archery,Reno,Nevada,credit',
 '86,May-31-2011,4000005,51.4,Puzzles,Jigsaw Puzzles,Charleston,South Carolina,credit',
 '87,May-17-2011,4000003,232.09,Water Sports,Surfing,Plano,Texas,credit',
 '88,Jul-30-2011,4000004,7.73,Water Sports,Water Polo,Las Vegas,Nevada,cash',
 '89,Jan-27-2011,4000009,20.68,Water Sports,Kitesurfing,Saint Paul,Minnesota,credit',
 '90,Apr-21-2011,4000001,60.45,Gymnastics,Vaulting Horses,Cleveland,Ohio,credit',
 '91,Feb-04-2011,4000004,53.68,Water Sports,Water Polo,Las Vegas,Nevada,cash',
 '92,Jul-03-2011,4000002,8.4,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit',
 '93,May-04-2011,4000004,317.94,Outdoor Recreation,Camping & Backpacking & Hiking,Chicago,Illinois,credit',
 '94,Feb-06-2011,4000005,292.89,Team Sports,Cheerleading,Reno,Nevada,credit',
 '95,Apr-10-2011,4000007,28.5,Outdoor Recreation,Running,Long Beach,California,credit',
 '96,Mar-15-2011,4000003,119.22,Outdoor Recreation,Skating,San Jose,California,credit',
 '97,Oct-11-2011,4000005,153.87,Team Sports,Cheerleading,Reno,Nevada,credit',
 '98,Feb-01-2011,4000002,28.01,Water Sports,Life Jackets,Columbus,Georgia,cash',
 '99,Jun-10-2011,4000009,10.23,Combat Sports,Wrestling,Orange,California,credit',
 '100,Jun-18-2011,4000001,31.37,Gymnastics,Vaulting Horses,Cleveland,Ohio,credit',
 '101,Feb-01-2011,4000002,224.24,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit',
 '102,Jul-14-2011,4000007,206.9,Exercise & Fitness,Exercise Bands,Philadelphia,Pennsylvania,credit',
 '103,Nov-15-2011,4000009,113.74,Outdoor Play Equipment,Swing Sets,Columbus,Ohio,credit',
 '104,Nov-10-2011,4000005,10.62,Air Sports,Parachutes,New York,New York,credit',
 '105,Dec-18-2011,4000003,111.73,Outdoor Recreation,Skating,San Jose,California,credit',
 '106,Oct-02-2011,4000002,17.14,Water Sports,Life Jackets,Columbus,Georgia,cash',
 '107,Nov-10-2011,4000002,10.05,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit',
 '108,Oct-18-2011,4000002,299.3,Water Sports,Windsurfing,Oklahoma City,Oklahoma,credit',
 '109,Dec-08-2011,4000004,42.25,Indoor Games,Bowling,Westminster,Colorado,cash',
 '110,Jun-27-2011,4000008,99.8,Outdoor Play Equipment,Swing Sets,Everett,Washington,credit',
 '111,Nov-07-2011,4000009,233.19,Outdoor Play Equipment,Swing Sets,Columbus,Ohio,credit',
 '112,Feb-16-2011,4000006,7.37,Winter Sports,Snowmobiling,Des Moines,Iowa,credit',
 '113,Mar-15-2011,4000009,53.85,Indoor Games,Bowling,San Francisco,California,credit',
 '114,May-16-2011,4000003,64.21,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit',
 '115,Sep-20-2011,4000005,41.05,Exercise & Fitness,Weightlifting Belts,New Orleans,Louisiana,credit',
 '116,Feb-14-2011,4000008,134.78,Team Sports,Indoor Volleyball,Atlanta,Georgia,credit',
 '117,Mar-05-2011,4000002,13.32,Water Sports,Life Jackets,Columbus,Georgia,cash',
 '118,Jul-18-2011,4000003,292.07,Outdoor Recreation,Skating,San Jose,California,credit',
 '119,Nov-10-2011,4000004,45.04,Water Sports,Scuba Diving & Snorkeling,Charleston,South Carolina,cash',
 '120,May-10-2011,4000004,44.61,Indoor Games,Bowling,Westminster,Colorado,cash',
 '121,Nov-23-2011,4000001,80.38,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit',
 '122,Aug-24-2011,4000001,3.77,Winter Sports,Snowboarding,Philadelphia,Pennsylvania,cash',
 '123,Jan-24-2011,4000002,246.05,Outdoor Recreation,Geocaching,Boston,Massachusetts,credit',
 '124,Oct-02-2011,4000002,123.22,Team Sports,Field Hockey,Nashville  ,Tennessee,credit',
 '125,Feb-02-2011,4000007,18.89,Outdoor Recreation,Shooting Games,San Diego,California,credit',
 '126,Aug-25-2011,4000006,328.32,Outdoor Play Equipment,Swing Sets,Pittsburgh,Pennsylvania,credit',
 '127,Nov-13-2011,4000004,62.02,Outdoor Recreation,Tetherball,Denton,Texas,cash',
 '128,Jan-26-2011,4000008,41.55,Water Sports,Life Jackets,Newark,New Jersey,credit',
 '129,Dec-30-2011,4000010,113.41,Team Sports,Field Hockey,Honolulu  ,Hawaii,credit',
 '130,Feb-11-2011,4000006,194.41,Outdoor Play Equipment,Swing Sets,Pittsburgh,Pennsylvania,credit',
 '131,Dec-19-2011,4000006,11.11,Winter Sports,Snowmobiling,Des Moines,Iowa,credit',
 '132,Jan-19-2011,4000002,295.41,Water Sports,Windsurfing,Oklahoma City,Oklahoma,credit',
 '133,Jul-17-2011,4000006,11.53,Winter Sports,Snowmobiling,Des Moines,Iowa,credit',
 '134,Jul-26-2011,4000008,16.16,Water Sports,Life Jackets,Newark,New Jersey,credit',
 '135,Apr-13-2011,4000008,12.09,Water Sports,Scuba Diving & Snorkeling,Omaha,Nebraska,credit',
 '136,May-18-2011,4000005,36.48,Exercise & Fitness,Weightlifting Belts,New Orleans,Louisiana,credit',
 '137,Mar-17-2011,4000003,80.47,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit',
 '138,Apr-22-2011,4000002,78.19,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit',
 '139,Jul-15-2011,4000003,328.6,Outdoor Recreation,Skating,San Jose,California,credit',
 '140,Mar-01-2011,4000010,21.98,Exercise & Fitness,Free Weight Bars,Columbia,South Carolina,credit',
 '141,Jan-19-2011,4000001,28.52,Winter Sports,Snowboarding,Philadelphia,Pennsylvania,cash',
 '142,Jan-19-2011,4000010,53.19,Jumping,Pogo Sticks,Everett,Washington,credit',
 '143,Dec-09-2011,4000008,105.49,Team Sports,Indoor Volleyball,Atlanta,Georgia,credit',
 '144,Aug-07-2011,4000006,47.72,Jumping,Bungee Jumping,St. Petersburg,Florida,credit',
 '145,Dec-29-2011,4000007,107.94,Outdoor Recreation,Running,Long Beach,California,credit',
 '146,Nov-15-2011,4000002,90.09,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit',
 '147,Sep-29-2011,4000008,131.32,Team Sports,Cricket,Lexington,Kentucky,credit',
 '148,Jul-04-2011,4000008,176.19,Outdoor Recreation,Lawn Games,Nashville  ,Tennessee,credit',
 '149,Feb-04-2011,4000004,85.05,Water Sports,Scuba Diving & Snorkeling,Charleston,South Carolina,cash',
 '150,May-28-2011,4000002,276.12,Water Sports,Windsurfing,Oklahoma City,Oklahoma,credit',
 '151,Mar-25-2011,4000004,27.18,Indoor Games,Bowling,Westminster,Colorado,cash',
 '152,Oct-10-2011,4000010,9.69,Games,Mahjong,Fremont,California,credit',
 '153,Jul-20-2011,4000003,230.88,Water Sports,Surfing,Plano,Texas,credit',
 '154,May-16-2011,4000002,72.92,Team Sports,Field Hockey,Nashville  ,Tennessee,credit',
 '155,Feb-27-2011,4000010,91.22,Jumping,Pogo Sticks,Everett,Washington,credit',
 '156,Sep-09-2011,4000007,30.49,Team Sports,Football,Saint Paul,Minnesota,credit',
 '157,Jan-05-2011,4000006,4.04,Winter Sports,Snowmobiling,Des Moines,Iowa,credit',
 '158,Aug-28-2011,4000010,29.6,Gymnastics,Vaulting Horses,Los Angeles,California,credit',
 '159,May-25-2011,4000006,82.09,Outdoor Play Equipment,Sandboxes,Columbus,Ohio,credit',
 '160,Dec-13-2011,4000008,11.61,Water Sports,Life Jackets,Newark,New Jersey,credit',
 '161,Apr-14-2011,4000009,186.16,Indoor Games,Darts,Phoenix,Arizona,credit',
 '162,Jan-09-2011,4000002,3,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit',
 '163,Dec-09-2011,4000001,25.85,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit',
 '164,Oct-14-2011,4000008,9.44,Team Sports,Soccer,Springfield,Illinois,credit',
 '165,Aug-23-2011,4000004,76.58,Outdoor Recreation,Tetherball,Denton,Texas,cash',
 '166,Jan-14-2011,4000009,147.06,Gymnastics,Gymnastics Rings,Springfield,Illinois,credit',
 '167,Feb-04-2011,4000008,98.66,Outdoor Recreation,Lawn Games,Nashville  ,Tennessee,credit',
 '168,Jan-31-2011,4000010,49.32,Exercise & Fitness,Free Weight Bars,Columbia,South Carolina,credit',
 '169,Dec-10-2011,4000007,64.36,Outdoor Recreation,Archery,Reno,Nevada,credit',
 '170,May-05-2011,4000009,8.39,Indoor Games,Bowling,San Francisco,California,credit',
 '171,Jan-05-2011,4000003,254.47,Outdoor Recreation,Skating,San Jose,California,credit',
 '172,Aug-02-2011,4000001,99.85,Exercise & Fitness,Abdominal Equipment,Honolulu  ,Hawaii,credit',
 '173,Jun-15-2011,4000009,121.29,Gymnastics,Gymnastics Rings,Springfield,Illinois,credit',
 '174,Oct-03-2011,4000003,272.92,Water Sports,Surfing,Plano,Texas,credit',
 '175,Sep-15-2011,4000008,53.25,Outdoor Play Equipment,Swing Sets,Everett,Washington,credit',
 '176,Jul-16-2011,4000005,19.47,Puzzles,Jigsaw Puzzles,Charleston,South Carolina,credit',
 '177,Jun-26-2011,4000009,44.55,Indoor Games,Bowling,San Francisco,California,credit',
 '178,Nov-22-2011,4000001,207.66,Water Sports,Surfing,Seattle,Washington,credit',
 '179,Dec-15-2011,4000009,60.07,Combat Sports,Wrestling,Orange,California,credit',
 '180,Oct-31-2011,4000007,295.51,Exercise & Fitness,Exercise Bands,Philadelphia,Pennsylvania,credit',
 '181,Jun-22-2011,4000003,307.99,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit',
 '182,Oct-24-2011,4000001,29.17,Exercise & Fitness,Abdominal Equipment,Honolulu  ,Hawaii,credit',
 '183,Dec-04-2011,4000004,12.48,Indoor Games,Bowling,Westminster,Colorado,cash',
 '184,Aug-08-2011,4000002,63.06,Outdoor Recreation,Geocaching,Boston,Massachusetts,credit',
 '185,Oct-17-2011,4000005,267.63,Team Sports,Cheerleading,Reno,Nevada,credit',
 '186,Feb-07-2011,4000009,226.83,Indoor Games,Darts,Phoenix,Arizona,credit',
 '187,Sep-10-2011,4000007,12.45,Team Sports,Football,Saint Paul,Minnesota,credit',
 '188,Apr-12-2011,4000008,94.32,Team Sports,Baseball,Salt Lake City,Utah,credit',
 '189,Jul-12-2011,4000007,159.52,Exercise & Fitness,Exercise Bands,Philadelphia,Pennsylvania,credit',
 '190,Sep-22-2011,4000002,31.76,Water Sports,Windsurfing,Oklahoma City,Oklahoma,credit',
 '191,Mar-28-2011,4000003,132.6,Water Sports,Surfing,Plano,Texas,credit',
 '192,Apr-05-2011,4000003,210.87,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit',
 '193,Aug-13-2011,4000010,62.91,Exercise & Fitness,Free Weight Bars,Columbia,South Carolina,credit',
 '194,Dec-25-2011,4000009,13.36,Water Sports,Kitesurfing,Saint Paul,Minnesota,credit',
 '195,Aug-18-2011,4000005,45.95,Exercise & Fitness,Weightlifting Belts,New Orleans,Louisiana,credit',
 '196,Feb-15-2011,4000008,124.94,Team Sports,Cricket,Lexington,Kentucky,credit',
 '197,Oct-22-2011,4000001,167.92,Exercise & Fitness,Abdominal Equipment,Honolulu  ,Hawaii,credit',
 '198,Sep-08-2011,4000005,73.33,Outdoor Play Equipment,Lawn Water Slides,Hampton  ,Virginia,cash',
 '199,Jul-06-2011,4000008,34.15,Water Sports,Scuba Diving & Snorkeling,Omaha,Nebraska,credit',
 '200,Feb-06-2011,4000001,114.1,Combat Sports,Fencing,Honolulu  ,Hawaii,credit',
 '201,Sep-08-2011,4000004,160.33,Outdoor Recreation,Camping & Backpacking & Hiking,Chicago,Illinois,credit',
 '202,Dec-21-2011,4000002,290.91,Outdoor Recreation,Geocaching,Boston,Massachusetts,credit',
 '203,Jul-10-2011,4000004,21.83,Water Sports,Water Polo,Las Vegas,Nevada,cash',
 '204,Oct-24-2011,4000002,54.58,Outdoor Recreation,Geocaching,Boston,Massachusetts,credit',
 '205,Oct-26-2011,4000007,245.48,Outdoor Recreation,Camping & Backpacking & Hiking,Hampton  ,Virginia,credit',
 '206,Aug-01-2011,4000010,82.78,Jumping,Pogo Sticks,Everett,Washington,credit',
 '207,Aug-31-2011,4000004,32.66,Water Sports,Water Polo,Las Vegas,Nevada,cash',
 '208,Mar-07-2011,4000001,83.09,Water Sports,Swimming,Lincoln,Nebraska,credit',
 '209,Jun-25-2011,4000004,22.19,Outdoor Recreation,Tetherball,Denton,Texas,cash',
 '210,Mar-16-2011,4000009,145.18,Outdoor Play Equipment,Swing Sets,Columbus,Ohio,credit',
 '211,Jul-10-2011,4000003,232.37,Outdoor Recreation,Skating,San Jose,California,credit',
 '212,Jan-19-2011,4000008,197.86,Games,Board Games,Centennial,Colorado,credit',
 '213,Sep-03-2011,4000001,195.81,Outdoor Recreation,Hunting,Phoenix,Arizona,credit',
 '214,Feb-26-2011,4000001,80.33,Outdoor Recreation,Hunting,Phoenix,Arizona,credit',
 '215,Oct-17-2011,4000006,144.63,Water Sports,Swimming,New York,New York,credit',
 '216,Oct-23-2011,4000005,73.45,Air Sports,Parachutes,New York,New York,credit',
 '217,Feb-09-2011,4000006,77.99,Water Sports,Swimming,New York,New York,credit',
 '218,Jun-30-2011,4000010,115.67,Jumping,Jumping Stilts,Cambridge,Massachusetts,credit',
 '219,Jun-28-2011,4000001,52.04,Water Sports,Swimming,Lincoln,Nebraska,credit',
 '220,Jan-10-2011,4000006,95.07,Water Sports,Swimming,New York,New York,credit',
 '221,Mar-27-2011,4000010,96.01,Games,Mahjong,Fremont,California,credit',
 '222,May-04-2011,4000007,174.24,Outdoor Recreation,Camping & Backpacking & Hiking,Hampton  ,Virginia,credit',
 '223,May-25-2011,4000006,174.53,Outdoor Play Equipment,Swing Sets,Pittsburgh,Pennsylvania,credit',
 '224,Aug-04-2011,4000005,21.53,Puzzles,Jigsaw Puzzles,Charleston,South Carolina,credit',

In [6]:
custRDD = spark.sparkContext.textFile(PATH + 'cust.csv')
custRDD.collect()

['4000001,Kristina,Chung,55,Pilot',
 '4000002,Paige,Chen,74,Teacher',
 '4000003,Sherri,Melton,34,Firefighter',
 '4000004,Gretchen,Hill,66,Computer hardware engineer',
 '4000005,Karen,Puckett,74,Lawyer',
 '4000006,Patrick,Song,42,Veterinarian',
 '4000007,Elsie,Hamilton,43,Pilot',
 '4000008,Hazel,Bender,63,Carpenter',
 '4000009,Malcolm,Wagner,39,Artist',
 '4000010,Dolores,McLaughlin,60,Writer']

## **Câu 1:** For each month, show the number of distinct players, and the total cost, the results are sorted by moth

In [7]:
rdd_totalCost = trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[2],x[3])) \
.reduceByKey(lambda f1,f2: float(f1)+float(f2)).sortByKey()
rdd_totalCost.collect()

[('4000001', 2096.01),
 ('4000002', 3560.3500000000004),
 ('4000003', 3847.21),
 ('4000004', 1879.1099999999997),
 ('4000005', 1725.8799999999997),
 ('4000006', 1718.19),
 ('4000007', 3276.9700000000003),
 ('4000008', 2755.3199999999997),
 ('4000009', 2189.88),
 ('4000010', 1604.06)]

In [8]:
rdd_month = trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[1], x[2])) \
.map(lambda x: (x[0].split('-'), x[1])).map(lambda x: (x[0][0], (x[1]))) \
.distinct().map(lambda x: (x[1], x[0])).sortBy(lambda x: x[1])
rdd_month.collect()

[('4000005', 'Apr'),
 ('4000001', 'Apr'),
 ('4000010', 'Apr'),
 ('4000002', 'Apr'),
 ('4000009', 'Apr'),
 ('4000003', 'Apr'),
 ('4000007', 'Apr'),
 ('4000004', 'Apr'),
 ('4000008', 'Apr'),
 ('4000009', 'Aug'),
 ('4000010', 'Aug'),
 ('4000005', 'Aug'),
 ('4000002', 'Aug'),
 ('4000001', 'Aug'),
 ('4000006', 'Aug'),
 ('4000008', 'Aug'),
 ('4000007', 'Aug'),
 ('4000004', 'Aug'),
 ('4000002', 'Dec'),
 ('4000006', 'Dec'),
 ('4000010', 'Dec'),
 ('4000003', 'Dec'),
 ('4000001', 'Dec'),
 ('4000009', 'Dec'),
 ('4000008', 'Dec'),
 ('4000004', 'Dec'),
 ('4000007', 'Dec'),
 ('4000010', 'Feb'),
 ('4000005', 'Feb'),
 ('4000009', 'Feb'),
 ('4000002', 'Feb'),
 ('4000006', 'Feb'),
 ('4000001', 'Feb'),
 ('4000004', 'Feb'),
 ('4000008', 'Feb'),
 ('4000007', 'Feb'),
 ('4000002', 'Jan'),
 ('4000006', 'Jan'),
 ('4000010', 'Jan'),
 ('4000009', 'Jan'),
 ('4000001', 'Jan'),
 ('4000003', 'Jan'),
 ('4000008', 'Jan'),
 ('4000004', 'Jan'),
 ('4000007', 'Jan'),
 ('4000006', 'Jul'),
 ('4000005', 'Jul'),
 ('4000001', 'Jul'),
 ('4000002', 'Jul'),
 ('4000003', 'Jul'),
 ('4000007', 'Jul'),
 ('4000004', 'Jul'),
 ('4000008', 'Jul'),
 ('4000001', 'Jun'),
 ('4000009', 'Jun'),
 ('4000005', 'Jun'),
 ('4000002', 'Jun'),
 ('4000003', 'Jun'),
 ('4000010', 'Jun'),
 ('4000008', 'Jun'),
 ('4000004', 'Jun'),
 ('4000007', 'Jun'),
 ('4000010', 'Mar'),
 ('4000001', 'Mar'),
 ('4000009', 'Mar'),
 ('4000003', 'Mar'),
 ('4000002', 'Mar'),
 ('4000005', 'Mar'),
 ('4000007', 'Mar'),
 ('4000004', 'Mar'),
 ('4000008', 'Mar'),
 ('4000007', 'May'),
 ('4000008', 'May'),
 ('4000004', 'May'),
 ('4000002', 'May'),
 ('4000003', 'May'),
 ('4000006', 'May'),
 ('4000010', 'May'),
 ('4000001', 'May'),
 ('4000005', 'May'),
 ('4000009', 'May'),
 ('4000009', 'Nov'),
 ('4000001', 'Nov'),
 ('4000005', 'Nov'),
 ('4000002', 'Nov'),
 ('4000003', 'Nov'),
 ('4000010', 'Nov'),
 ('4000008', 'Nov'),
 ('4000004', 'Nov'),
 ('4000005', 'Oct'),
 ('4000001', 'Oct'),
 ('4000009', 'Oct'),
 ('4000003', 'Oct'),
 ('4000010', 'Oct'),
 ('4000002', 'Oct'),
 ('4000006', 'Oct'),
 ('4000008', 'Oct'),
 ('4000007', 'Oct'),
 ('4000004', 'Oct'),
 ('4000010', 'Sep'),
 ('4000009', 'Sep'),
 ('4000005', 'Sep'),
 ('4000002', 'Sep'),
 ('4000001', 'Sep'),
 ('4000007', 'Sep'),
 ('4000008', 'Sep'),
 ('4000004', 'Sep')]

In [9]:
rdd_month_totalCost = rdd_totalCost.join(rdd_month).map(lambda x: (x[1][1], x[0], x[1][0], 1))
rdd_month_totalCost.sortBy(lambda x: x[0]).collect()

[('Apr', '4000004', 1879.1099999999997, 1),
 ('Apr', '4000007', 3276.9700000000003, 1),
 ('Apr', '4000003', 3847.21, 1),
 ('Apr', '4000009', 2189.88, 1),
 ('Apr', '4000008', 2755.3199999999997, 1),
 ('Apr', '4000001', 2096.01, 1),
 ('Apr', '4000002', 3560.3500000000004, 1),
 ('Apr', '4000005', 1725.8799999999997, 1),
 ('Apr', '4000010', 1604.06, 1),
 ('Aug', '4000004', 1879.1099999999997, 1),
 ('Aug', '4000007', 3276.9700000000003, 1),
 ('Aug', '4000009', 2189.88, 1),
 ('Aug', '4000008', 2755.3199999999997, 1),
 ('Aug', '4000001', 2096.01, 1),
 ('Aug', '4000002', 3560.3500000000004, 1),
 ('Aug', '4000005', 1725.8799999999997, 1),
 ('Aug', '4000006', 1718.19, 1),
 ('Aug', '4000010', 1604.06, 1),
 ('Dec', '4000004', 1879.1099999999997, 1),
 ('Dec', '4000007', 3276.9700000000003, 1),
 ('Dec', '4000003', 3847.21, 1),
 ('Dec', '4000009', 2189.88, 1),
 ('Dec', '4000008', 2755.3199999999997, 1),
 ('Dec', '4000001', 2096.01, 1),
 ('Dec', '4000002', 3560.3500000000004, 1),
 ('Dec', '4000006', 1718.19, 1),
 ('Dec', '4000010', 1604.06, 1),
 ('Feb', '4000004', 1879.1099999999997, 1),
 ('Feb', '4000007', 3276.9700000000003, 1),
 ('Feb', '4000009', 2189.88, 1),
 ('Feb', '4000008', 2755.3199999999997, 1),
 ('Feb', '4000001', 2096.01, 1),
 ('Feb', '4000002', 3560.3500000000004, 1),
 ('Feb', '4000005', 1725.8799999999997, 1),
 ('Feb', '4000006', 1718.19, 1),
 ('Feb', '4000010', 1604.06, 1),
 ('Jan', '4000004', 1879.1099999999997, 1),
 ('Jan', '4000007', 3276.9700000000003, 1),
 ('Jan', '4000003', 3847.21, 1),
 ('Jan', '4000009', 2189.88, 1),
 ('Jan', '4000008', 2755.3199999999997, 1),
 ('Jan', '4000001', 2096.01, 1),
 ('Jan', '4000002', 3560.3500000000004, 1),
 ('Jan', '4000006', 1718.19, 1),
 ('Jan', '4000010', 1604.06, 1),
 ('Jul', '4000004', 1879.1099999999997, 1),
 ('Jul', '4000007', 3276.9700000000003, 1),
 ('Jul', '4000003', 3847.21, 1),
 ('Jul', '4000008', 2755.3199999999997, 1),
 ('Jul', '4000001', 2096.01, 1),
 ('Jul', '4000002', 3560.3500000000004, 1),
 ('Jul', '4000005', 1725.8799999999997, 1),
 ('Jul', '4000006', 1718.19, 1),
 ('Jun', '4000004', 1879.1099999999997, 1),
 ('Jun', '4000007', 3276.9700000000003, 1),
 ('Jun', '4000003', 3847.21, 1),
 ('Jun', '4000009', 2189.88, 1),
 ('Jun', '4000008', 2755.3199999999997, 1),
 ('Jun', '4000001', 2096.01, 1),
 ('Jun', '4000002', 3560.3500000000004, 1),
 ('Jun', '4000005', 1725.8799999999997, 1),
 ('Jun', '4000010', 1604.06, 1),
 ('Mar', '4000004', 1879.1099999999997, 1),
 ('Mar', '4000007', 3276.9700000000003, 1),
 ('Mar', '4000003', 3847.21, 1),
 ('Mar', '4000009', 2189.88, 1),
 ('Mar', '4000008', 2755.3199999999997, 1),
 ('Mar', '4000001', 2096.01, 1),
 ('Mar', '4000002', 3560.3500000000004, 1),
 ('Mar', '4000005', 1725.8799999999997, 1),
 ('Mar', '4000010', 1604.06, 1),
 ('May', '4000004', 1879.1099999999997, 1),
 ('May', '4000007', 3276.9700000000003, 1),
 ('May', '4000003', 3847.21, 1),
 ('May', '4000009', 2189.88, 1),
 ('May', '4000008', 2755.3199999999997, 1),
 ('May', '4000001', 2096.01, 1),
 ('May', '4000002', 3560.3500000000004, 1),
 ('May', '4000005', 1725.8799999999997, 1),
 ('May', '4000006', 1718.19, 1),
 ('May', '4000010', 1604.06, 1),
 ('Nov', '4000004', 1879.1099999999997, 1),
 ('Nov', '4000003', 3847.21, 1),
 ('Nov', '4000009', 2189.88, 1),
 ('Nov', '4000008', 2755.3199999999997, 1),
 ('Nov', '4000001', 2096.01, 1),
 ('Nov', '4000002', 3560.3500000000004, 1),
 ('Nov', '4000005', 1725.8799999999997, 1),
 ('Nov', '4000010', 1604.06, 1),
 ('Oct', '4000004', 1879.1099999999997, 1),
 ('Oct', '4000007', 3276.9700000000003, 1),
 ('Oct', '4000003', 3847.21, 1),
 ('Oct', '4000009', 2189.88, 1),
 ('Oct', '4000008', 2755.3199999999997, 1),
 ('Oct', '4000001', 2096.01, 1),
 ('Oct', '4000002', 3560.3500000000004, 1),
 ('Oct', '4000005', 1725.8799999999997, 1),
 ('Oct', '4000006', 1718.19, 1),
 ('Oct', '4000010', 1604.06, 1),
 ('Sep', '4000004', 1879.1099999999997, 1),
 ('Sep', '4000007', 3276.9700000000003, 1),
 ('Sep', '4000009', 2189.88, 1),
 ('Sep', '4000008', 2755.3199999999997, 1),
 ('Sep', '4000001', 2096.01, 1),
 ('Sep', '4000002', 3560.3500000000004, 1),
 ('Sep', '4000005', 1725.8799999999997, 1),
 ('Sep', '4000010', 1604.06, 1)]

In [10]:
trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[1], x[2], 1)) \
.map(lambda x: (x[0].split('-'), x[1], x[2])).map(lambda x: (x[0][0], (x[1], x[2]))) \
.distinct().reduceByKey(lambda f1, f2: (f1[0]+','+f2[0], f1[1]+f2[1])).sortByKey() \
.map(lambda x: (x[0], x[1][0], x[1][1])).collect()

[('Apr',
  '4000007,4000004,4000008,4000005,4000001,4000010,4000002,4000009,4000003',
  9),
 ('Aug',
  '4000008,4000007,4000004,4000009,4000010,4000005,4000002,4000001,4000006',
  9),
 ('Dec',
  '4000008,4000004,4000007,4000002,4000006,4000010,4000003,4000001,4000009',
  9),
 ('Feb',
  '4000004,4000008,4000007,4000010,4000005,4000009,4000002,4000006,4000001',
  9),
 ('Jan',
  '4000008,4000004,4000007,4000002,4000006,4000010,4000009,4000001,4000003',
  9),
 ('Jul', '4000007,4000004,4000008,4000006,4000005,4000001,4000002,4000003', 8),
 ('Jun',
  '4000008,4000004,4000007,4000001,4000009,4000005,4000002,4000003,4000010',
  9),
 ('Mar',
  '4000007,4000004,4000008,4000010,4000001,4000009,4000003,4000002,4000005',
  9),
 ('May',
  '4000002,4000003,4000006,4000010,4000001,4000005,4000009,4000007,4000008,4000004',
  10),
 ('Nov', '4000008,4000004,4000009,4000001,4000005,4000002,4000003,4000010', 8),
 ('Oct',
  '4000008,4000007,4000004,4000005,4000001,4000009,4000003,4000010,4000002,4000006',
  10),
 ('Sep', '4000007,4000008,4000004,4000010,4000009,4000005,4000002,4000001', 8)]

In [11]:
rdd_month_totalCost.map(lambda x: (x[0], (x[2], x[3]))) \
.reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1])).sortBy(lambda x: x[0]) \
.map(lambda x: (x[0], x[1][1], x[1][0])).collect()

[('Apr', 9, 22934.79),
 ('Aug', 9, 20805.769999999997),
 ('Dec', 9, 22927.1),
 ('Feb', 9, 20805.769999999997),
 ('Jan', 9, 22927.1),
 ('Jul', 8, 20859.04),
 ('Jun', 9, 22934.79),
 ('Mar', 9, 22934.79),
 ('May', 10, 24652.98),
 ('Nov', 8, 19657.82),
 ('Oct', 10, 24652.98),
 ('Sep', 8, 19087.579999999998)]

## **Câu 2:** For each month, show the name three youngest player, the results are sorted by the month

In [12]:
rdd_month.collect()

[('4000005', 'Apr'),
 ('4000001', 'Apr'),
 ('4000010', 'Apr'),
 ('4000002', 'Apr'),
 ('4000009', 'Apr'),
 ('4000003', 'Apr'),
 ('4000007', 'Apr'),
 ('4000004', 'Apr'),
 ('4000008', 'Apr'),
 ('4000009', 'Aug'),
 ('4000010', 'Aug'),
 ('4000005', 'Aug'),
 ('4000002', 'Aug'),
 ('4000001', 'Aug'),
 ('4000006', 'Aug'),
 ('4000008', 'Aug'),
 ('4000007', 'Aug'),
 ('4000004', 'Aug'),
 ('4000002', 'Dec'),
 ('4000006', 'Dec'),
 ('4000010', 'Dec'),
 ('4000003', 'Dec'),
 ('4000001', 'Dec'),
 ('4000009', 'Dec'),
 ('4000008', 'Dec'),
 ('4000004', 'Dec'),
 ('4000007', 'Dec'),
 ('4000010', 'Feb'),
 ('4000005', 'Feb'),
 ('4000009', 'Feb'),
 ('4000002', 'Feb'),
 ('4000006', 'Feb'),
 ('4000001', 'Feb'),
 ('4000004', 'Feb'),
 ('4000008', 'Feb'),
 ('4000007', 'Feb'),
 ('4000002', 'Jan'),
 ('4000006', 'Jan'),
 ('4000010', 'Jan'),
 ('4000009', 'Jan'),
 ('4000001', 'Jan'),
 ('4000003', 'Jan'),
 ('4000008', 'Jan'),
 ('4000004', 'Jan'),
 ('4000007', 'Jan'),
 ('4000006', 'Jul'),
 ('4000005', 'Jul'),
 ('4000001', 'Jul'),
 ('4000002', 'Jul'),
 ('4000003', 'Jul'),
 ('4000007', 'Jul'),
 ('4000004', 'Jul'),
 ('4000008', 'Jul'),
 ('4000001', 'Jun'),
 ('4000009', 'Jun'),
 ('4000005', 'Jun'),
 ('4000002', 'Jun'),
 ('4000003', 'Jun'),
 ('4000010', 'Jun'),
 ('4000008', 'Jun'),
 ('4000004', 'Jun'),
 ('4000007', 'Jun'),
 ('4000010', 'Mar'),
 ('4000001', 'Mar'),
 ('4000009', 'Mar'),
 ('4000003', 'Mar'),
 ('4000002', 'Mar'),
 ('4000005', 'Mar'),
 ('4000007', 'Mar'),
 ('4000004', 'Mar'),
 ('4000008', 'Mar'),
 ('4000007', 'May'),
 ('4000008', 'May'),
 ('4000004', 'May'),
 ('4000002', 'May'),
 ('4000003', 'May'),
 ('4000006', 'May'),
 ('4000010', 'May'),
 ('4000001', 'May'),
 ('4000005', 'May'),
 ('4000009', 'May'),
 ('4000009', 'Nov'),
 ('4000001', 'Nov'),
 ('4000005', 'Nov'),
 ('4000002', 'Nov'),
 ('4000003', 'Nov'),
 ('4000010', 'Nov'),
 ('4000008', 'Nov'),
 ('4000004', 'Nov'),
 ('4000005', 'Oct'),
 ('4000001', 'Oct'),
 ('4000009', 'Oct'),
 ('4000003', 'Oct'),
 ('4000010', 'Oct'),
 ('4000002', 'Oct'),
 ('4000006', 'Oct'),
 ('4000008', 'Oct'),
 ('4000007', 'Oct'),
 ('4000004', 'Oct'),
 ('4000010', 'Sep'),
 ('4000009', 'Sep'),
 ('4000005', 'Sep'),
 ('4000002', 'Sep'),
 ('4000001', 'Sep'),
 ('4000007', 'Sep'),
 ('4000008', 'Sep'),
 ('4000004', 'Sep')]

In [13]:
rdd_name_age = custRDD.map(lambda x: x.split(',')).map(lambda x: (x[0], (x[1], x[3])))
rdd_name_age.collect()

[('4000001', ('Kristina', '55')),
 ('4000002', ('Paige', '74')),
 ('4000003', ('Sherri', '34')),
 ('4000004', ('Gretchen', '66')),
 ('4000005', ('Karen', '74')),
 ('4000006', ('Patrick', '42')),
 ('4000007', ('Elsie', '43')),
 ('4000008', ('Hazel', '63')),
 ('4000009', ('Malcolm', '39')),
 ('4000010', ('Dolores', '60'))]

In [14]:
rdd_month_name_age = rdd_name_age.join(rdd_month) \
.map(lambda x: (x[1][1], x[1][0][0], x[1][0][1], x[0]))
rdd_month_name_age.sortBy(lambda x: x[0]).collect()

[('Apr', 'Gretchen', '66', '4000004'),
 ('Apr', 'Elsie', '43', '4000007'),
 ('Apr', 'Sherri', '34', '4000003'),
 ('Apr', 'Malcolm', '39', '4000009'),
 ('Apr', 'Hazel', '63', '4000008'),
 ('Apr', 'Kristina', '55', '4000001'),
 ('Apr', 'Paige', '74', '4000002'),
 ('Apr', 'Karen', '74', '4000005'),
 ('Apr', 'Dolores', '60', '4000010'),
 ('Aug', 'Gretchen', '66', '4000004'),
 ('Aug', 'Elsie', '43', '4000007'),
 ('Aug', 'Malcolm', '39', '4000009'),
 ('Aug', 'Hazel', '63', '4000008'),
 ('Aug', 'Kristina', '55', '4000001'),
 ('Aug', 'Paige', '74', '4000002'),
 ('Aug', 'Karen', '74', '4000005'),
 ('Aug', 'Patrick', '42', '4000006'),
 ('Aug', 'Dolores', '60', '4000010'),
 ('Dec', 'Gretchen', '66', '4000004'),
 ('Dec', 'Elsie', '43', '4000007'),
 ('Dec', 'Sherri', '34', '4000003'),
 ('Dec', 'Malcolm', '39', '4000009'),
 ('Dec', 'Hazel', '63', '4000008'),
 ('Dec', 'Kristina', '55', '4000001'),
 ('Dec', 'Paige', '74', '4000002'),
 ('Dec', 'Patrick', '42', '4000006'),
 ('Dec', 'Dolores', '60', '4000010'),
 ('Feb', 'Gretchen', '66', '4000004'),
 ('Feb', 'Elsie', '43', '4000007'),
 ('Feb', 'Malcolm', '39', '4000009'),
 ('Feb', 'Hazel', '63', '4000008'),
 ('Feb', 'Kristina', '55', '4000001'),
 ('Feb', 'Paige', '74', '4000002'),
 ('Feb', 'Karen', '74', '4000005'),
 ('Feb', 'Patrick', '42', '4000006'),
 ('Feb', 'Dolores', '60', '4000010'),
 ('Jan', 'Gretchen', '66', '4000004'),
 ('Jan', 'Elsie', '43', '4000007'),
 ('Jan', 'Sherri', '34', '4000003'),
 ('Jan', 'Malcolm', '39', '4000009'),
 ('Jan', 'Hazel', '63', '4000008'),
 ('Jan', 'Kristina', '55', '4000001'),
 ('Jan', 'Paige', '74', '4000002'),
 ('Jan', 'Patrick', '42', '4000006'),
 ('Jan', 'Dolores', '60', '4000010'),
 ('Jul', 'Gretchen', '66', '4000004'),
 ('Jul', 'Elsie', '43', '4000007'),
 ('Jul', 'Sherri', '34', '4000003'),
 ('Jul', 'Hazel', '63', '4000008'),
 ('Jul', 'Kristina', '55', '4000001'),
 ('Jul', 'Paige', '74', '4000002'),
 ('Jul', 'Karen', '74', '4000005'),
 ('Jul', 'Patrick', '42', '4000006'),
 ('Jun', 'Gretchen', '66', '4000004'),
 ('Jun', 'Elsie', '43', '4000007'),
 ('Jun', 'Sherri', '34', '4000003'),
 ('Jun', 'Malcolm', '39', '4000009'),
 ('Jun', 'Hazel', '63', '4000008'),
 ('Jun', 'Kristina', '55', '4000001'),
 ('Jun', 'Paige', '74', '4000002'),
 ('Jun', 'Karen', '74', '4000005'),
 ('Jun', 'Dolores', '60', '4000010'),
 ('Mar', 'Gretchen', '66', '4000004'),
 ('Mar', 'Elsie', '43', '4000007'),
 ('Mar', 'Sherri', '34', '4000003'),
 ('Mar', 'Malcolm', '39', '4000009'),
 ('Mar', 'Hazel', '63', '4000008'),
 ('Mar', 'Kristina', '55', '4000001'),
 ('Mar', 'Paige', '74', '4000002'),
 ('Mar', 'Karen', '74', '4000005'),
 ('Mar', 'Dolores', '60', '4000010'),
 ('May', 'Gretchen', '66', '4000004'),
 ('May', 'Elsie', '43', '4000007'),
 ('May', 'Sherri', '34', '4000003'),
 ('May', 'Malcolm', '39', '4000009'),
 ('May', 'Hazel', '63', '4000008'),
 ('May', 'Kristina', '55', '4000001'),
 ('May', 'Paige', '74', '4000002'),
 ('May', 'Karen', '74', '4000005'),
 ('May', 'Patrick', '42', '4000006'),
 ('May', 'Dolores', '60', '4000010'),
 ('Nov', 'Gretchen', '66', '4000004'),
 ('Nov', 'Sherri', '34', '4000003'),
 ('Nov', 'Malcolm', '39', '4000009'),
 ('Nov', 'Hazel', '63', '4000008'),
 ('Nov', 'Kristina', '55', '4000001'),
 ('Nov', 'Paige', '74', '4000002'),
 ('Nov', 'Karen', '74', '4000005'),
 ('Nov', 'Dolores', '60', '4000010'),
 ('Oct', 'Gretchen', '66', '4000004'),
 ('Oct', 'Elsie', '43', '4000007'),
 ('Oct', 'Sherri', '34', '4000003'),
 ('Oct', 'Malcolm', '39', '4000009'),
 ('Oct', 'Hazel', '63', '4000008'),
 ('Oct', 'Kristina', '55', '4000001'),
 ('Oct', 'Paige', '74', '4000002'),
 ('Oct', 'Karen', '74', '4000005'),
 ('Oct', 'Patrick', '42', '4000006'),
 ('Oct', 'Dolores', '60', '4000010'),
 ('Sep', 'Gretchen', '66', '4000004'),
 ('Sep', 'Elsie', '43', '4000007'),
 ('Sep', 'Malcolm', '39', '4000009'),
 ('Sep', 'Hazel', '63', '4000008'),
 ('Sep', 'Kristina', '55', '4000001'),
 ('Sep', 'Paige', '74', '4000002'),
 ('Sep', 'Karen', '74', '4000005'),
 ('Sep', 'Dolores', '60', '4000010')]

In [15]:
rdd_month_name_age.map(lambda x: (x[0], x[1], x[2])).groupBy(lambda x: x[0]) \
.flatMap(lambda g: nsmallest(3, g[1], key=lambda x: x[2])).sortBy(lambda x: x[0]).collect()

[('Apr', 'Sherri', '34'),
 ('Apr', 'Malcolm', '39'),
 ('Apr', 'Elsie', '43'),
 ('Aug', 'Malcolm', '39'),
 ('Aug', 'Patrick', '42'),
 ('Aug', 'Elsie', '43'),
 ('Dec', 'Sherri', '34'),
 ('Dec', 'Malcolm', '39'),
 ('Dec', 'Patrick', '42'),
 ('Feb', 'Malcolm', '39'),
 ('Feb', 'Patrick', '42'),
 ('Feb', 'Elsie', '43'),
 ('Jan', 'Sherri', '34'),
 ('Jan', 'Malcolm', '39'),
 ('Jan', 'Patrick', '42'),
 ('Jul', 'Sherri', '34'),
 ('Jul', 'Patrick', '42'),
 ('Jul', 'Elsie', '43'),
 ('Jun', 'Sherri', '34'),
 ('Jun', 'Malcolm', '39'),
 ('Jun', 'Elsie', '43'),
 ('Mar', 'Sherri', '34'),
 ('Mar', 'Malcolm', '39'),
 ('Mar', 'Elsie', '43'),
 ('May', 'Sherri', '34'),
 ('May', 'Malcolm', '39'),
 ('May', 'Patrick', '42'),
 ('Nov', 'Sherri', '34'),
 ('Nov', 'Malcolm', '39'),
 ('Nov', 'Kristina', '55'),
 ('Oct', 'Sherri', '34'),
 ('Oct', 'Malcolm', '39'),
 ('Oct', 'Patrick', '42'),
 ('Sep', 'Malcolm', '39'),
 ('Sep', 'Elsie', '43'),
 ('Sep', 'Kristina', '55')]

In [16]:
rdd_month_name_age.map(lambda x: (x[0], x[1], x[2])).groupBy(lambda x: x[0]) \
.flatMap(lambda g: nsmallest(3, g[1], key=lambda x: x[2])).sortBy(lambda x: x[0]) \
.map(lambda x: (x[0], x[1])).reduceByKey(lambda x, y: x+'-'+y).sortByKey().collect()

[('Apr', 'Sherri-Malcolm-Elsie'),
 ('Aug', 'Malcolm-Patrick-Elsie'),
 ('Dec', 'Sherri-Malcolm-Patrick'),
 ('Feb', 'Malcolm-Patrick-Elsie'),
 ('Jan', 'Sherri-Malcolm-Patrick'),
 ('Jul', 'Sherri-Patrick-Elsie'),
 ('Jun', 'Sherri-Malcolm-Elsie'),
 ('Mar', 'Sherri-Malcolm-Elsie'),
 ('May', 'Sherri-Malcolm-Patrick'),
 ('Nov', 'Sherri-Malcolm-Kristina'),
 ('Oct', 'Sherri-Malcolm-Patrick'),
 ('Sep', 'Malcolm-Elsie-Kristina')]

## **Câu 3:** For each month, show the transaction detail including (transaction ID, date, player ID, player name, age, gametype, cost) of the transaction with highest cost, the results are sorted by month

In [17]:
rdd_month.collect()

[('4000005', 'Apr'),
 ('4000001', 'Apr'),
 ('4000010', 'Apr'),
 ('4000002', 'Apr'),
 ('4000009', 'Apr'),
 ('4000003', 'Apr'),
 ('4000007', 'Apr'),
 ('4000004', 'Apr'),
 ('4000008', 'Apr'),
 ('4000009', 'Aug'),
 ('4000010', 'Aug'),
 ('4000005', 'Aug'),
 ('4000002', 'Aug'),
 ('4000001', 'Aug'),
 ('4000006', 'Aug'),
 ('4000008', 'Aug'),
 ('4000007', 'Aug'),
 ('4000004', 'Aug'),
 ('4000002', 'Dec'),
 ('4000006', 'Dec'),
 ('4000010', 'Dec'),
 ('4000003', 'Dec'),
 ('4000001', 'Dec'),
 ('4000009', 'Dec'),
 ('4000008', 'Dec'),
 ('4000004', 'Dec'),
 ('4000007', 'Dec'),
 ('4000010', 'Feb'),
 ('4000005', 'Feb'),
 ('4000009', 'Feb'),
 ('4000002', 'Feb'),
 ('4000006', 'Feb'),
 ('4000001', 'Feb'),
 ('4000004', 'Feb'),
 ('4000008', 'Feb'),
 ('4000007', 'Feb'),
 ('4000002', 'Jan'),
 ('4000006', 'Jan'),
 ('4000010', 'Jan'),
 ('4000009', 'Jan'),
 ('4000001', 'Jan'),
 ('4000003', 'Jan'),
 ('4000008', 'Jan'),
 ('4000004', 'Jan'),
 ('4000007', 'Jan'),
 ('4000006', 'Jul'),
 ('4000005', 'Jul'),
 ('4000001', 'Jul'),
 ('4000002', 'Jul'),
 ('4000003', 'Jul'),
 ('4000007', 'Jul'),
 ('4000004', 'Jul'),
 ('4000008', 'Jul'),
 ('4000001', 'Jun'),
 ('4000009', 'Jun'),
 ('4000005', 'Jun'),
 ('4000002', 'Jun'),
 ('4000003', 'Jun'),
 ('4000010', 'Jun'),
 ('4000008', 'Jun'),
 ('4000004', 'Jun'),
 ('4000007', 'Jun'),
 ('4000010', 'Mar'),
 ('4000001', 'Mar'),
 ('4000009', 'Mar'),
 ('4000003', 'Mar'),
 ('4000002', 'Mar'),
 ('4000005', 'Mar'),
 ('4000007', 'Mar'),
 ('4000004', 'Mar'),
 ('4000008', 'Mar'),
 ('4000007', 'May'),
 ('4000008', 'May'),
 ('4000004', 'May'),
 ('4000002', 'May'),
 ('4000003', 'May'),
 ('4000006', 'May'),
 ('4000010', 'May'),
 ('4000001', 'May'),
 ('4000005', 'May'),
 ('4000009', 'May'),
 ('4000009', 'Nov'),
 ('4000001', 'Nov'),
 ('4000005', 'Nov'),
 ('4000002', 'Nov'),
 ('4000003', 'Nov'),
 ('4000010', 'Nov'),
 ('4000008', 'Nov'),
 ('4000004', 'Nov'),
 ('4000005', 'Oct'),
 ('4000001', 'Oct'),
 ('4000009', 'Oct'),
 ('4000003', 'Oct'),
 ('4000010', 'Oct'),
 ('4000002', 'Oct'),
 ('4000006', 'Oct'),
 ('4000008', 'Oct'),
 ('4000007', 'Oct'),
 ('4000004', 'Oct'),
 ('4000010', 'Sep'),
 ('4000009', 'Sep'),
 ('4000005', 'Sep'),
 ('4000002', 'Sep'),
 ('4000001', 'Sep'),
 ('4000007', 'Sep'),
 ('4000008', 'Sep'),
 ('4000004', 'Sep')]

In [18]:
trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[1], x[2], x[3])) \
.map(lambda x: (x[0].split('-'), x[1], x[2])).map(lambda x: (x[0][0], x[1], x[2])) \
.distinct().map(lambda x: (x[1], x[0], x[2])).sortBy(lambda x: x[1]).collect()

[('4000004', 'Apr', '32.34'),
 ('4000001', 'Apr', '60.45'),
 ('4000007', 'Apr', '28.5'),
 ('4000008', 'Apr', '94.32'),
 ('4000005', 'Apr', '86.41'),
 ('4000007', 'Apr', '20.2'),
 ('4000004', 'Apr', '28.11'),
 ('4000005', 'Apr', '44.82'),
 ('4000001', 'Apr', '51.34'),
 ('4000010', 'Apr', '71.12'),
 ('4000008', 'Apr', '12.09'),
 ('4000002', 'Apr', '78.19'),
 ('4000009', 'Apr', '186.16'),
 ('4000003', 'Apr', '210.87'),
 ('4000007', 'Apr', '218.14'),
 ('4000009', 'Aug', '41.52'),
 ('4000010', 'Aug', '29.79'),
 ('4000005', 'Aug', '25.41'),
 ('4000008', 'Aug', '28.14'),
 ('4000001', 'Aug', '3.77'),
 ('4000006', 'Aug', '328.32'),
 ('4000006', 'Aug', '47.72'),
 ('4000010', 'Aug', '29.6'),
 ('4000004', 'Aug', '76.58'),
 ('4000001', 'Aug', '99.85'),
 ('4000005', 'Aug', '45.95'),
 ('4000010', 'Aug', '82.78'),
 ('4000005', 'Aug', '21.53'),
 ('4000008', 'Aug', '51.81'),
 ('4000002', 'Aug', '396.48'),
 ('4000007', 'Aug', '30.82'),
 ('4000002', 'Aug', '63.06'),
 ('4000010', 'Aug', '62.91'),
 ('4000004', 'Aug', '32.66'),
 ('4000008', 'Dec', '79.78'),
 ('4000008', 'Dec', '185.26'),
 ('4000006', 'Dec', '174.36'),
 ('4000003', 'Dec', '178.2'),
 ('4000010', 'Dec', '113.41'),
 ('4000008', 'Dec', '105.49'),
 ('4000008', 'Dec', '11.61'),
 ('4000001', 'Dec', '25.85'),
 ('4000004', 'Dec', '12.48'),
 ('4000002', 'Dec', '290.91'),
 ('4000002', 'Dec', '98.81'),
 ('4000010', 'Dec', '144.59'),
 ('4000004', 'Dec', '44.46'),
 ('4000006', 'Dec', '106.11'),
 ('4000002', 'Dec', '194.86'),
 ('4000008', 'Dec', '138.91'),
 ('4000007', 'Dec', '194.88'),
 ('4000003', 'Dec', '111.73'),
 ('4000004', 'Dec', '42.25'),
 ('4000006', 'Dec', '11.11'),
 ('4000007', 'Dec', '107.94'),
 ('4000007', 'Dec', '64.36'),
 ('4000009', 'Dec', '60.07'),
 ('4000009', 'Dec', '13.36'),
 ('4000004', 'Feb', '193.63'),
 ('4000010', 'Feb', '36.81'),
 ('4000009', 'Feb', '99.5'),
 ('4000002', 'Feb', '32.65'),
 ('4000005', 'Feb', '292.89'),
 ('4000002', 'Feb', '28.01'),
 ('4000002', 'Feb', '224.24'),
 ('4000006', 'Feb', '7.37'),
 ('4000007', 'Feb', '18.89'),
 ('4000008', 'Feb', '98.66'),
 ('4000001', 'Feb', '114.1'),
 ('4000006', 'Feb', '77.99'),
 ('4000005', 'Feb', '45.79'),
 ('4000004', 'Feb', '53.68'),
 ('4000008', 'Feb', '134.78'),
 ('4000006', 'Feb', '194.41'),
 ('4000004', 'Feb', '85.05'),
 ('4000010', 'Feb', '91.22'),
 ('4000009', 'Feb', '226.83'),
 ('4000008', 'Feb', '124.94'),
 ('4000001', 'Feb', '80.33'),
 ('4000006', 'Jan', '10.44'),
 ('4000007', 'Jan', '228.07'),
 ('4000010', 'Jan', '106.77'),
 ('4000009', 'Jan', '20.68'),
 ('4000002', 'Jan', '246.05'),
 ('4000010', 'Jan', '53.19'),
 ('4000006', 'Jan', '4.04'),
 ('4000002', 'Jan', '3'),
 ('4000010', 'Jan', '49.32'),
 ('4000003', 'Jan', '254.47'),
 ('4000006', 'Jan', '95.07'),
 ('4000002', 'Jan', '5.58'),
 ('4000008', 'Jan', '20.13'),
 ('4000004', 'Jan', '130.12'),
 ('4000008', 'Jan', '41.55'),
 ('4000002', 'Jan', '295.41'),
 ('4000001', 'Jan', '28.52'),
 ('4000009', 'Jan', '147.06'),
 ('4000008', 'Jan', '197.86'),
 ('4000008', 'Jan', '150.88'),
 ('4000001', 'Jul', '21.43'),
 ('4000002', 'Jul', '151.18'),
 ('4000004', 'Jul', '7.73'),
 ('4000007', 'Jul', '206.9'),
 ('4000008', 'Jul', '176.19'),
 ('4000003', 'Jul', '230.88'),
 ('4000005', 'Jul', '19.47'),
 ('4000007', 'Jul', '159.52'),
 ('4000006', 'Jul', '96.01'),
 ('4000005', 'Jul', '165.1'),
 ('4000007', 'Jul', '251.05'),
 ('4000002', 'Jul', '8.4'),
 ('4000003', 'Jul', '292.07'),
 ('4000006', 'Jul', '11.53'),
 ('4000008', 'Jul', '16.16'),
 ('4000003', 'Jul', '328.6'),
 ('4000008', 'Jul', '34.15'),
 ('4000004', 'Jul', '21.83'),
 ('4000003', 'Jul', '232.37'),
 ('4000002', 'Jul', '75.29'),
 ('4000007', 'Jul', '44.65'),
 ('4000005', 'Jun', '41.55'),
 ('4000008', 'Jun', '154.15'),
 ('4000002', 'Jun', '176.63'),
 ('4000002', 'Jun', '4.66'),
 ('4000003', 'Jun', '299.07'),
 ('4000001', 'Jun', '70.68'),
 ('4000008', 'Jun', '99.8'),
 ('4000004', 'Jun', '22.19'),
 ('4000010', 'Jun', '115.67'),
 ('4000001', 'Jun', '52.04'),
 ('4000001', 'Jun', '40.33'),
 ('4000009', 'Jun', '121.39'),
 ('4000008', 'Jun', '98.96'),
 ('4000001', 'Jun', '62.63'),
 ('4000009', 'Jun', '10.23'),
 ('4000001', 'Jun', '31.37'),
 ('4000009', 'Jun', '121.29'),
 ('4000009', 'Jun', '44.55'),
 ('4000003', 'Jun', '307.99'),
 ('4000007', 'Jun', '16.44'),
 ('4000010', 'Mar', '107.8'),
 ('4000001', 'Mar', '47.05'),
 ('4000007', 'Mar', '154.87'),
 ('4000004', 'Mar', '42.14'),
 ('4000008', 'Mar', '188.32'),
 ('4000002', 'Mar', '13.32'),
 ('4000010', 'Mar', '21.98'),
 ('4000004', 'Mar', '27.18'),
 ('4000003', 'Mar', '132.6'),
 ('4000001', 'Mar', '83.09'),
 ('4000009', 'Mar', '145.18'),
 ('4000001', 'Mar', '126.9'),
 ('4000009', 'Mar', '43.49'),
 ('4000003', 'Mar', '98.73'),
 ('4000003', 'Mar', '119.22'),
 ('4000009', 'Mar', '53.85'),
 ('4000003', 'Mar', '80.47'),
 ('4000010', 'Mar', '96.01'),
 ('4000005', 'Mar', '145.12'),
 ('4000002', 'May', '198.44'),
 ('4000003', 'May', '198.19'),
 ('4000007', 'May', '150.6'),
 ('4000001', 'May', '52.29'),
 ('4000010', 'May', '32.23'),
 ('4000003', 'May', '232.09'),
 ('4000004', 'May', '44.61'),
 ('4000005', 'May', '36.48'),
 ('4000007', 'May', '174.24'),
 ('4000010', 'May', '121.6'),
 ('4000006', 'May', '152.46'),
 ('4000007', 'May', '180.28'),
 ('4000010', 'May', '35.56'),
 ('4000008', 'May', '9.87'),
 ('4000005', 'May', '51.4'),
 ('4000004', 'May', '317.94'),
 ('4000003', 'May', '64.21'),
 ('4000002', 'May', '276.12'),
 ('4000002', 'May', '72.92'),
 ('4000006', 'May', '82.09'),
 ('4000009', 'May', '8.39'),
 ('4000006', 'May', '174.53'),
 ('4000005', 'May', '43.21'),
 ('4000001', 'Nov', '135.37'),
 ('4000001', 'Nov', '90.04'),
 ('4000004', 'Nov', '358.22'),
 ('4000009', 'Nov', '233.19'),
 ('4000001', 'Nov', '80.38'),
 ('4000004', 'Nov', '62.02'),
 ('4000001', 'Nov', '207.66'),
 ('4000010', 'Nov', '69.68'),
 ('4000008', 'Nov', '88.65'),
 ('4000009', 'Nov', '31.58'),
 ('4000008', 'Nov', '5.03'),
 ('4000009', 'Nov', '113.74'),
 ('4000005', 'Nov', '10.62'),
 ('4000002', 'Nov', '10.05'),
 ('4000004', 'Nov', '45.04'),
 ('4000002', 'Nov', '90.09'),
 ('4000003', 'Nov', '51.33'),
 ('4000008', 'Oct', '75.55'),
 ('4000004', 'Oct', '38.52'),
 ('4000008', 'Oct', '100.1'),
 ('4000010', 'Oct', '55.93'),
 ('4000002', 'Oct', '17.14'),
 ('4000002', 'Oct', '299.3'),
 ('4000002', 'Oct', '123.22'),
 ('4000010', 'Oct', '9.69'),
 ('4000008', 'Oct', '9.44'),
 ('4000001', 'Oct', '29.17'),
 ('4000005', 'Oct', '267.63'),
 ('4000006', 'Oct', '144.63'),
 ('4000005', 'Oct', '73.45'),
 ('4000005', 'Oct', '12.91'),
 ('4000009', 'Oct', '101.09'),
 ('4000005', 'Oct', '27.89'),
 ('4000001', 'Oct', '137.64'),
 ('4000009', 'Oct', '19.64'),
 ('4000003', 'Oct', '151.2'),
 ('4000009', 'Oct', '144.2'),
 ('4000007', 'Oct', '35.66'),
 ('4000005', 'Oct', '153.87'),
 ('4000003', 'Oct', '272.92'),
 ('4000007', 'Oct', '295.51'),
 ('4000001', 'Oct', '167.92'),
 ('4000002', 'Oct', '54.58'),
 ('4000007', 'Oct', '245.48'),
 ('4000009', 'Sep', '202.89'),
 ('4000005', 'Sep', '41.05'),
 ('4000004', 'Sep', '160.33'),
 ('4000008', 'Sep', '38.17'),
 ('4000007', 'Sep', '249.09'),
 ('4000010', 'Sep', '66.4'),
 ('4000007', 'Sep', '157.94'),
 ('4000008', 'Sep', '131.32'),
 ('4000007', 'Sep', '30.49'),
 ('4000008', 'Sep', '53.25'),
 ('4000007', 'Sep', '12.45'),
 ('4000002', 'Sep', '31.76'),
 ('4000005', 'Sep', '73.33'),
 ('4000001', 'Sep', '195.81')]

In [19]:
rdd_detail = trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[2], x[1], x[1], x[0], x[3], x[4])) \
.map(lambda x: (x[1].split('-'), x[0], x[2], x[3], x[4], x[5])) \
.map(lambda x: (x[1], (x[0][0],x[2], x[3], x[4], x[5]))).distinct().sortBy(lambda x: x[0])
rdd_detail.collect()

[('4000001', ('Jun', 'Jun-26-2011', '00', '40.33', 'Exercise & Fitness')),
 ('4000001', ('Mar', 'Mar-14-2011', '30', '47.05', 'Water Sports')),
 ('4000001', ('Jul', 'Jul-11-2011', '59', '21.43', 'Winter Sports')),
 ('4000001', ('Jun', 'Jun-02-2011', '62', '62.63', 'Exercise & Fitness')),
 ('4000001', ('Nov', 'Nov-23-2011', '121', '80.38', 'Exercise & Fitness')),
 ('4000001', ('Jan', 'Jan-19-2011', '141', '28.52', 'Winter Sports')),
 ('4000001', ('Oct', 'Oct-24-2011', '182', '29.17', 'Exercise & Fitness')),
 ('4000001', ('Jun', 'Jun-28-2011', '219', '52.04', 'Water Sports')),
 ('4000001', ('Oct', 'Oct-20-2011', '15', '137.64', 'Combat Sports')),
 ('4000001', ('Mar', 'Mar-06-2011', '29', '126.9', 'Outdoor Recreation')),
 ('4000001', ('Nov', 'Nov-09-2011', '44', '135.37', 'Water Sports')),
 ('4000001', ('Nov', 'Nov-27-2011', '45', '90.04', 'Exercise & Fitness')),
 ('4000001', ('May', 'May-27-2011', '46', '52.29', 'Gymnastics')),
 ('4000001', ('Apr', 'Apr-04-2011', '72', '51.34', 'Combat Sports')),
 ('4000001', ('Jun', 'Jun-10-2011', '80', '70.68', 'Outdoor Recreation')),
 ('4000001', ('Apr', 'Apr-21-2011', '90', '60.45', 'Gymnastics')),
 ('4000001', ('Jun', 'Jun-18-2011', '100', '31.37', 'Gymnastics')),
 ('4000001', ('Aug', 'Aug-24-2011', '122', '3.77', 'Winter Sports')),
 ('4000001', ('Dec', 'Dec-09-2011', '163', '25.85', 'Exercise & Fitness')),
 ('4000001', ('Aug', 'Aug-02-2011', '172', '99.85', 'Exercise & Fitness')),
 ('4000001', ('Nov', 'Nov-22-2011', '178', '207.66', 'Water Sports')),
 ('4000001', ('Oct', 'Oct-22-2011', '197', '167.92', 'Exercise & Fitness')),
 ('4000001', ('Feb', 'Feb-06-2011', '200', '114.1', 'Combat Sports')),
 ('4000001', ('Mar', 'Mar-07-2011', '208', '83.09', 'Water Sports')),
 ('4000001', ('Sep', 'Sep-03-2011', '213', '195.81', 'Outdoor Recreation')),
 ('4000001', ('Feb', 'Feb-26-2011', '214', '80.33', 'Outdoor Recreation')),
 ('4000002', ('May', 'May-26-2011', '01', '198.44', 'Exercise & Fitness')),
 ('4000002', ('Jan', 'Jan-06-2011', '02', '5.58', 'Exercise & Fitness')),
 ('4000002', ('Dec', 'Dec-17-2011', '04', '98.81', 'Team Sports')),
 ('4000002', ('Jul', 'Jul-23-2011', '66', '151.18', 'Team Sports')),
 ('4000002', ('Feb', 'Feb-01-2011', '101', '224.24', 'Exercise & Fitness')),
 ('4000002', ('Oct', 'Oct-02-2011', '106', '17.14', 'Water Sports')),
 ('4000002', ('Oct', 'Oct-18-2011', '108', '299.3', 'Water Sports')),
 ('4000002', ('Mar', 'Mar-05-2011', '117', '13.32', 'Water Sports')),
 ('4000002', ('Jan', 'Jan-19-2011', '132', '295.41', 'Water Sports')),
 ('4000002', ('Apr', 'Apr-22-2011', '138', '78.19', 'Exercise & Fitness')),
 ('4000002', ('Nov', 'Nov-15-2011', '146', '90.09', 'Exercise & Fitness')),
 ('4000002', ('May', 'May-16-2011', '154', '72.92', 'Team Sports')),
 ('4000002', ('Aug', 'Aug-08-2011', '184', '63.06', 'Outdoor Recreation')),
 ('4000002', ('Feb', 'Feb-17-2011', '51', '32.65', 'Water Sports')),
 ('4000002', ('Jun', 'Jun-21-2011', '56', '176.63', 'Outdoor Recreation')),
 ('4000002', ('Dec', 'Dec-29-2011', '58', '194.86', 'Water Sports')),
 ('4000002', ('Aug', 'Aug-19-2011', '67', '396.48', 'Exercise & Fitness')),
 ('4000002', ('Jun', 'Jun-06-2011', '70', '4.66', 'Exercise & Fitness')),
 ('4000002', ('Jul', 'Jul-03-2011', '92', '8.4', 'Exercise & Fitness')),
 ('4000002', ('Feb', 'Feb-01-2011', '98', '28.01', 'Water Sports')),
 ('4000002', ('Nov', 'Nov-10-2011', '107', '10.05', 'Exercise & Fitness')),
 ('4000002', ('Jan', 'Jan-24-2011', '123', '246.05', 'Outdoor Recreation')),
 ('4000002', ('Oct', 'Oct-02-2011', '124', '123.22', 'Team Sports')),
 ('4000002', ('May', 'May-28-2011', '150', '276.12', 'Water Sports')),
 ('4000002', ('Jan', 'Jan-09-2011', '162', '3', 'Exercise & Fitness')),
 ('4000002', ('Sep', 'Sep-22-2011', '190', '31.76', 'Water Sports')),
 ('4000002', ('Dec', 'Dec-21-2011', '202', '290.91', 'Outdoor Recreation')),
 ('4000002', ('Oct', 'Oct-24-2011', '204', '54.58', 'Outdoor Recreation')),
 ('4000002', ('Jul', 'Jul-01-2011', '226', '75.29', 'Team Sports')),
 ('4000003', ('Dec', 'Dec-20-2011', '57', '178.2', 'Outdoor Recreation')),
 ('4000003', ('Jun', 'Jun-12-2011', '73', '299.07', 'Water Sports')),
 ('4000003', ('May', 'May-17-2011', '87', '232.09', 'Water Sports')),
 ('4000003', ('May', 'May-16-2011', '114', '64.21', 'Gymnastics')),
 ('4000003', ('Jul', 'Jul-18-2011', '118', '292.07', 'Outdoor Recreation')),
 ('4000003', ('Mar', 'Mar-17-2011', '137', '80.47', 'Gymnastics')),
 ('4000003', ('Jul', 'Jul-20-2011', '153', '230.88', 'Water Sports')),
 ('4000003', ('Jan', 'Jan-05-2011', '171', '254.47', 'Outdoor Recreation')),
 ('4000003', ('Jun', 'Jun-22-2011', '181', '307.99', 'Gymnastics')),
 ('4000003', ('Mar', 'Mar-28-2011', '191', '132.6', 'Water Sports')),
 ('4000003', ('Nov', 'Nov-19-2011', '225', '51.33', 'Gymnastics')),
 ('4000003', ('May', 'May-06-2011', '03', '198.19', 'Gymnastics')),
 ('4000003', ('Oct', 'Oct-06-2011', '24', '151.2', 'Water Sports')),
 ('4000003', ('Mar', 'Mar-20-2011', '63', '98.73', 'Water Sports')),
 ('4000003', ('Mar', 'Mar-15-2011', '96', '119.22', 'Outdoor Recreation')),
 ('4000003', ('Dec', 'Dec-18-2011', '105', '111.73', 'Outdoor Recreation')),
 ('4000003', ('Jul', 'Jul-15-2011', '139', '328.6', 'Outdoor Recreation')),
 ('4000003', ('Oct', 'Oct-03-2011', '174', '272.92', 'Water Sports')),
 ('4000003', ('Apr', 'Apr-05-2011', '192', '210.87', 'Gymnastics')),
 ('4000003', ('Jul', 'Jul-10-2011', '211', '232.37', 'Outdoor Recreation')),
 ('4000004', ('Oct', 'Oct-09-2011', '42', '38.52', 'Outdoor Recreation')),
 ('4000004', ('Apr', 'Apr-22-2011', '43', '32.34', 'Water Sports')),
 ('4000004', ('Jan', 'Jan-14-2011', '64', '130.12', 'Outdoor Recreation')),
 ('4000004', ('Mar', 'Mar-20-2011', '71', '42.14', 'Outdoor Recreation')),
 ('4000004', ('May', 'May-04-2011', '93', '317.94', 'Outdoor Recreation')),
 ('4000004', ('Dec', 'Dec-08-2011', '109', '42.25', 'Indoor Games')),
 ('4000004', ('Feb', 'Feb-04-2011', '149', '85.05', 'Water Sports')),
 ('4000004', ('Mar', 'Mar-25-2011', '151', '27.18', 'Indoor Games')),
 ('4000004', ('Aug', 'Aug-23-2011', '165', '76.58', 'Outdoor Recreation')),
 ('4000004', ('Dec', 'Dec-04-2011', '183', '12.48', 'Indoor Games')),
 ('4000004', ('Sep', 'Sep-08-2011', '201', '160.33', 'Outdoor Recreation')),
 ('4000004', ('Jul', 'Jul-10-2011', '203', '21.83', 'Water Sports')),
 ('4000004', ('Jun', 'Jun-25-2011', '209', '22.19', 'Outdoor Recreation')),
 ('4000004', ('Feb', 'Feb-14-2011', '05', '193.63', 'Outdoor Recreation')),
 ('4000004', ('Apr', 'Apr-16-2011', '41', '28.11', 'Indoor Games')),
 ('4000004', ('Dec', 'Dec-06-2011', '53', '44.46', 'Water Sports')),
 ('4000004', ('Nov', 'Nov-04-2011', '82', '358.22', 'Outdoor Recreation')),
 ('4000004', ('Jul', 'Jul-30-2011', '88', '7.73', 'Water Sports')),
 ('4000004', ('Feb', 'Feb-04-2011', '91', '53.68', 'Water Sports')),
 ('4000004', ('Nov', 'Nov-10-2011', '119', '45.04', 'Water Sports')),
 ('4000004', ('May', 'May-10-2011', '120', '44.61', 'Indoor Games')),
 ('4000004', ('Nov', 'Nov-13-2011', '127', '62.02', 'Outdoor Recreation')),
 ('4000004', ('Aug', 'Aug-31-2011', '207', '32.66', 'Water Sports')),
 ('4000005', ('Jul', 'Jul-11-2011', '40', '165.1', 'Team Sports')),
 ('4000005', ('May', 'May-31-2011', '86', '51.4', 'Puzzles')),
 ('4000005', ('Feb', 'Feb-06-2011', '94', '292.89', 'Team Sports')),
 ('4000005', ('Oct', 'Oct-11-2011', '97', '153.87', 'Team Sports')),
 ('4000005', ('Nov', 'Nov-10-2011', '104', '10.62', 'Air Sports')),
 ('4000005', ('May', 'May-18-2011', '136', '36.48', 'Exercise & Fitness')),
 ('4000005', ('Aug', 'Aug-18-2011', '195', '45.95', 'Exercise & Fitness')),
 ('4000005', ('Oct', 'Oct-23-2011', '216', '73.45', 'Air Sports')),
 ('4000005', ('Aug', 'Aug-04-2011', '224', '21.53', 'Puzzles')),
 ('4000005', ('Mar', 'Mar-06-2011', '229', '145.12', 'Team Sports')),
 ('4000005', ('Apr', 'Apr-08-2011', '238', '86.41', 'Outdoor Play Equipment')),
 ('4000005', ('Oct', 'Oct-28-2011', '06', '27.89', 'Puzzles')),
 ('4000005', ('Jun', 'Jun-29-2011', '20', '41.55', 'Exercise & Fitness')),
 ('4000005', ('Feb', 'Feb-14-2011', '21', '45.79', 'Air Sports')),
 ('4000005', ('Apr', 'Apr-02-2011', '52', '44.82', 'Outdoor Play Equipment')),
 ('4000005', ('Aug', 'Aug-28-2011', '65', '25.41', 'Outdoor Play Equipment')),
 ('4000005', ('Sep', 'Sep-20-2011', '115', '41.05', 'Exercise & Fitness')),
 ('4000005', ('Jul', 'Jul-16-2011', '176', '19.47', 'Puzzles')),
 ('4000005', ('Oct', 'Oct-17-2011', '185', '267.63', 'Team Sports')),
 ('4000005', ('Sep', 'Sep-08-2011', '198', '73.33', 'Outdoor Play Equipment')),
 ('4000005', ('May', 'May-25-2011', '227', '43.21', 'Exercise & Fitness')),
 ('4000005', ('Oct', 'Oct-31-2011', '230', '12.91', 'Air Sports')),
 ('4000006', ('Jul', 'Jul-14-2011', '07', '96.01', 'Outdoor Play Equipment')),
 ('4000006', ('Dec', 'Dec-16-2011', '55', '106.11', 'Water Sports')),
 ('4000006',
  ('Aug', 'Aug-25-2011', '126', '328.32', 'Outdoor Play Equipment')),
 ('4000006',
  ('Feb', 'Feb-11-2011', '130', '194.41', 'Outdoor Play Equipment')),
 ('4000006', ('Aug', 'Aug-07-2011', '144', '47.72', 'Jumping')),
 ('4000006', ('Jan', 'Jan-05-2011', '157', '4.04', 'Winter Sports')),
 ('4000006', ('May', 'May-25-2011', '159', '82.09', 'Outdoor Play Equipment')),
 ('4000006', ('Feb', 'Feb-09-2011', '217', '77.99', 'Water Sports')),
 ('4000006', ('Jan', 'Jan-10-2011', '220', '95.07', 'Water Sports')),
 ('4000006', ('Jan', 'Jan-17-2011', '08', '10.44', 'Winter Sports')),
 ('4000006', ('May', 'May-17-2011', '09', '152.46', 'Jumping')),
 ('4000006', ('Dec', 'Dec-03-2011', '39', '174.36', 'Outdoor Play Equipment')),
 ('4000006', ('Feb', 'Feb-16-2011', '112', '7.37', 'Winter Sports')),
 ('4000006', ('Dec', 'Dec-19-2011', '131', '11.11', 'Winter Sports')),
 ('4000006', ('Jul', 'Jul-17-2011', '133', '11.53', 'Winter Sports')),
 ('4000006', ('Oct', 'Oct-17-2011', '215', '144.63', 'Water Sports')),
 ('4000006',
  ('May', 'May-25-2011', '223', '174.53', 'Outdoor Play Equipment')),
 ('4000007', ('May', 'May-29-2011', '10', '180.28', 'Outdoor Recreation')),
 ('4000007', ('May', 'May-08-2011', '38', '150.6', 'Outdoor Recreation')),
 ('4000007', ('Mar', 'Mar-10-2011', '54', '154.87', 'Outdoor Recreation')),
 ('4000007', ('Jul', 'Jul-05-2011', '74', '251.05', 'Outdoor Recreation')),
 ('4000007', ('Aug', 'Aug-22-2011', '77', '30.82', 'Outdoor Recreation')),
 ('4000007', ('Jan', 'Jan-07-2011', '78', '228.07', 'Exercise & Fitness')),
 ('4000007', ('Dec', 'Dec-20-2011', '85', '194.88', 'Outdoor Recreation')),
 ('4000007', ('Feb', 'Feb-02-2011', '125', '18.89', 'Outdoor Recreation')),
 ('4000007', ('Dec', 'Dec-10-2011', '169', '64.36', 'Outdoor Recreation')),
 ('4000007', ('Oct', 'Oct-31-2011', '180', '295.51', 'Exercise & Fitness')),
 ('4000007', ('Sep', 'Sep-10-2011', '187', '12.45', 'Team Sports')),
 ('4000007', ('Jun', 'Jun-13-2011', '237', '16.44', 'Outdoor Recreation')),
 ('4000007', ('Oct', 'Oct-13-2011', '36', '35.66', 'Team Sports')),
 ('4000007', ('Apr', 'Apr-19-2011', '37', '20.2', 'Outdoor Recreation')),
 ('4000007', ('Sep', 'Sep-27-2011', '48', '157.94', 'Exercise & Fitness')),
 ('4000007', ('Apr', 'Apr-10-2011', '95', '28.5', 'Outdoor Recreation')),
 ('4000007', ('Jul', 'Jul-14-2011', '102', '206.9', 'Exercise & Fitness')),
 ('4000007', ('Dec', 'Dec-29-2011', '145', '107.94', 'Outdoor Recreation')),
 ('4000007', ('Sep', 'Sep-09-2011', '156', '30.49', 'Team Sports')),
 ('4000007', ('Jul', 'Jul-12-2011', '189', '159.52', 'Exercise & Fitness')),
 ('4000007', ('Oct', 'Oct-26-2011', '205', '245.48', 'Outdoor Recreation')),
 ('4000007', ('May', 'May-04-2011', '222', '174.24', 'Outdoor Recreation')),
 ('4000007', ('Jul', 'Jul-09-2011', '232', '44.65', 'Team Sports')),
 ('4000007', ('Apr', 'Apr-09-2011', '234', '218.14', 'Outdoor Recreation')),
 ('4000007', ('Sep', 'Sep-20-2011', '239', '249.09', 'Outdoor Recreation')),
 ('4000008', ('Oct', 'Oct-18-2011', '17', '75.55', 'Water Sports')),
 ('4000008', ('Dec', 'Dec-05-2011', '28', '79.78', 'Team Sports')),
 ('4000008', ('Jun', 'Jun-15-2011', '33', '154.15', 'Outdoor Recreation')),
 ('4000008', ('Dec', 'Dec-04-2011', '35', '185.26', 'Games')),
 ('4000008', ('Aug', 'Aug-11-2011', '68', '28.14', 'Team Sports')),
 ('4000008', ('Dec', 'Dec-20-2011', '83', '138.91', 'Team Sports')),
 ('4000008', ('May', 'May-01-2011', '84', '9.87', 'Games')),
 ('4000008', ('Jun', 'Jun-27-2011', '110', '99.8', 'Outdoor Play Equipment')),
 ('4000008', ('Apr', 'Apr-13-2011', '135', '12.09', 'Water Sports')),
 ('4000008', ('Oct', 'Oct-14-2011', '164', '9.44', 'Team Sports')),
 ('4000008', ('Apr', 'Apr-12-2011', '188', '94.32', 'Team Sports')),
 ('4000008', ('Feb', 'Feb-15-2011', '196', '124.94', 'Team Sports')),
 ('4000008', ('Nov', 'Nov-18-2011', '18', '88.65', 'Team Sports')),
 ('4000008', ('Aug', 'Aug-28-2011', '19', '51.81', 'Water Sports')),
 ('4000008', ('Nov', 'Nov-28-2011', '31', '5.03', 'Games')),
 ('4000008', ('Jan', 'Jan-29-2011', '32', '20.13', 'Team Sports')),
 ('4000008', ('Jun', 'Jun-05-2011', '34', '98.96', 'Team Sports')),
 ('4000008', ('Oct', 'Oct-23-2011', '47', '100.1', 'Outdoor Play Equipment')),
 ('4000008', ('Mar', 'Mar-08-2011', '75', '188.32', 'Team Sports')),
 ('4000008', ('Feb', 'Feb-14-2011', '116', '134.78', 'Team Sports')),
 ('4000008', ('Jan', 'Jan-26-2011', '128', '41.55', 'Water Sports')),
 ('4000008', ('Jul', 'Jul-26-2011', '134', '16.16', 'Water Sports')),
 ('4000008', ('Dec', 'Dec-09-2011', '143', '105.49', 'Team Sports')),
 ('4000008', ('Sep', 'Sep-29-2011', '147', '131.32', 'Team Sports')),
 ('4000008', ('Jul', 'Jul-04-2011', '148', '176.19', 'Outdoor Recreation')),
 ('4000008', ('Dec', 'Dec-13-2011', '160', '11.61', 'Water Sports')),
 ('4000008', ('Feb', 'Feb-04-2011', '167', '98.66', 'Outdoor Recreation')),
 ('4000008', ('Sep', 'Sep-15-2011', '175', '53.25', 'Outdoor Play Equipment')),
 ('4000008', ('Jul', 'Jul-06-2011', '199', '34.15', 'Water Sports')),
 ('4000008', ('Jan', 'Jan-19-2011', '212', '197.86', 'Games')),
 ('4000008', ('Sep', 'Sep-07-2011', '233', '38.17', 'Team Sports')),
 ('4000008', ('Jan', 'Jan-30-2011', '236', '150.88', 'Team Sports')),
 ('4000009', ('Aug', 'Aug-02-2011', '12', '41.52', 'Indoor Games')),
 ('4000009', ('Oct', 'Oct-14-2011', '25', '144.2', 'Indoor Games')),
 ('4000009', ('Nov', 'Nov-10-2011', '26', '31.58', 'Combat Sports')),
 ('4000009', ('Mar', 'Mar-22-2011', '61', '43.49', 'Combat Sports')),
 ('4000009', ('Sep', 'Sep-01-2011', '79', '202.89', 'Indoor Games')),
 ('4000009', ('Jan', 'Jan-27-2011', '89', '20.68', 'Water Sports')),
 ('4000009', ('Jun', 'Jun-10-2011', '99', '10.23', 'Combat Sports')),
 ('4000009',
  ('Nov', 'Nov-07-2011', '111', '233.19', 'Outdoor Play Equipment')),
 ('4000009', ('Mar', 'Mar-15-2011', '113', '53.85', 'Indoor Games')),
 ('4000009', ('Jun', 'Jun-26-2011', '177', '44.55', 'Indoor Games')),
 ('4000009', ('Dec', 'Dec-15-2011', '179', '60.07', 'Combat Sports')),
 ('4000009', ('Dec', 'Dec-25-2011', '194', '13.36', 'Water Sports')),
 ('4000009', ('Oct', 'Oct-11-2011', '235', '101.09', 'Gymnastics')),
 ('4000009', ('Jun', 'Jun-18-2011', '11', '121.39', 'Outdoor Play Equipment')),
 ('4000009', ('Oct', 'Oct-10-2011', '22', '19.64', 'Water Sports')),
 ('4000009', ('Feb', 'Feb-05-2011', '23', '99.5', 'Gymnastics')),
 ('4000009',
  ('Nov', 'Nov-15-2011', '103', '113.74', 'Outdoor Play Equipment')),
 ('4000009', ('Apr', 'Apr-14-2011', '161', '186.16', 'Indoor Games')),
 ('4000009', ('Jan', 'Jan-14-2011', '166', '147.06', 'Gymnastics')),
 ('4000009', ('May', 'May-05-2011', '170', '8.39', 'Indoor Games')),
 ('4000009', ('Jun', 'Jun-15-2011', '173', '121.29', 'Gymnastics')),
 ('4000009', ('Feb', 'Feb-07-2011', '186', '226.83', 'Indoor Games')),
 ('4000009',
  ('Mar', 'Mar-16-2011', '210', '145.18', 'Outdoor Play Equipment')),
 ('4000010', ('Sep', 'Sep-29-2011', '27', '66.4', 'Games')),
 ('4000010', ('Aug', 'Aug-06-2011', '60', '29.79', 'Jumping')),
 ('4000010', ('Apr', 'Apr-24-2011', '76', '71.12', 'Gymnastics')),
 ('4000010', ('Jan', 'Jan-01-2011', '81', '106.77', 'Games')),
 ('4000010', ('Mar', 'Mar-01-2011', '140', '21.98', 'Exercise & Fitness')),
 ('4000010', ('Jan', 'Jan-31-2011', '168', '49.32', 'Exercise & Fitness')),
 ('4000010', ('Aug', 'Aug-01-2011', '206', '82.78', 'Jumping')),
 ('4000010', ('Jun', 'Jun-30-2011', '218', '115.67', 'Jumping')),
 ('4000010', ('Nov', 'Nov-04-2011', '228', '69.68', 'Gymnastics')),
 ('4000010', ('Mar', 'Mar-13-2011', '13', '107.8', 'Team Sports')),
 ('4000010', ('Feb', 'Feb-25-2011', '14', '36.81', 'Gymnastics')),
 ('4000010', ('May', 'May-28-2011', '16', '35.56', 'Exercise & Fitness')),
 ('4000010', ('Dec', 'Dec-07-2011', '49', '144.59', 'Jumping')),
 ('4000010', ('Oct', 'Oct-20-2011', '50', '55.93', 'Jumping')),
 ('4000010', ('May', 'May-09-2011', '69', '32.23', 'Team Sports')),
 ('4000010', ('Dec', 'Dec-30-2011', '129', '113.41', 'Team Sports')),
 ('4000010', ('Jan', 'Jan-19-2011', '142', '53.19', 'Jumping')),
 ('4000010', ('Oct', 'Oct-10-2011', '152', '9.69', 'Games')),
 ('4000010', ('Feb', 'Feb-27-2011', '155', '91.22', 'Jumping')),
 ('4000010', ('Aug', 'Aug-28-2011', '158', '29.6', 'Gymnastics')),
 ('4000010', ('Aug', 'Aug-13-2011', '193', '62.91', 'Exercise & Fitness')),
 ('4000010', ('Mar', 'Mar-27-2011', '221', '96.01', 'Games')),
 ('4000010', ('May', 'May-23-2011', '231', '121.6', 'Jumping'))]

In [20]:
rdd_name_age.collect()

[('4000001', ('Kristina', '55')),
 ('4000002', ('Paige', '74')),
 ('4000003', ('Sherri', '34')),
 ('4000004', ('Gretchen', '66')),
 ('4000005', ('Karen', '74')),
 ('4000006', ('Patrick', '42')),
 ('4000007', ('Elsie', '43')),
 ('4000008', ('Hazel', '63')),
 ('4000009', ('Malcolm', '39')),
 ('4000010', ('Dolores', '60'))]

In [21]:
rdd_q3 = rdd_detail.join(rdd_name_age).map(lambda x: ((x[0], x[1][0][0], x[1][0][3]), (x[1][0][1], 
                                                      x[1][0][2], x[1][0][4], 
                                                      x[1][1][0], x[1][1][1])))
rdd_q3.collect()

[(('4000004', 'Oct', '38.52'),
  ('Oct-09-2011', '42', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'Apr', '32.34'),
  ('Apr-22-2011', '43', 'Water Sports', 'Gretchen', '66')),
 (('4000004', 'Jan', '130.12'),
  ('Jan-14-2011', '64', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'Mar', '42.14'),
  ('Mar-20-2011', '71', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'May', '317.94'),
  ('May-04-2011', '93', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'Dec', '42.25'),
  ('Dec-08-2011', '109', 'Indoor Games', 'Gretchen', '66')),
 (('4000004', 'Feb', '85.05'),
  ('Feb-04-2011', '149', 'Water Sports', 'Gretchen', '66')),
 (('4000004', 'Mar', '27.18'),
  ('Mar-25-2011', '151', 'Indoor Games', 'Gretchen', '66')),
 (('4000004', 'Aug', '76.58'),
  ('Aug-23-2011', '165', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'Dec', '12.48'),
  ('Dec-04-2011', '183', 'Indoor Games', 'Gretchen', '66')),
 (('4000004', 'Sep', '160.33'),
  ('Sep-08-2011', '201', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'Jul', '21.83'),
  ('Jul-10-2011', '203', 'Water Sports', 'Gretchen', '66')),
 (('4000004', 'Jun', '22.19'),
  ('Jun-25-2011', '209', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'Feb', '193.63'),
  ('Feb-14-2011', '05', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'Apr', '28.11'),
  ('Apr-16-2011', '41', 'Indoor Games', 'Gretchen', '66')),
 (('4000004', 'Dec', '44.46'),
  ('Dec-06-2011', '53', 'Water Sports', 'Gretchen', '66')),
 (('4000004', 'Nov', '358.22'),
  ('Nov-04-2011', '82', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'Jul', '7.73'),
  ('Jul-30-2011', '88', 'Water Sports', 'Gretchen', '66')),
 (('4000004', 'Feb', '53.68'),
  ('Feb-04-2011', '91', 'Water Sports', 'Gretchen', '66')),
 (('4000004', 'Nov', '45.04'),
  ('Nov-10-2011', '119', 'Water Sports', 'Gretchen', '66')),
 (('4000004', 'May', '44.61'),
  ('May-10-2011', '120', 'Indoor Games', 'Gretchen', '66')),
 (('4000004', 'Nov', '62.02'),
  ('Nov-13-2011', '127', 'Outdoor Recreation', 'Gretchen', '66')),
 (('4000004', 'Aug', '32.66'),
  ('Aug-31-2011', '207', 'Water Sports', 'Gretchen', '66')),
 (('4000007', 'May', '180.28'),
  ('May-29-2011', '10', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'May', '150.6'),
  ('May-08-2011', '38', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Mar', '154.87'),
  ('Mar-10-2011', '54', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Jul', '251.05'),
  ('Jul-05-2011', '74', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Aug', '30.82'),
  ('Aug-22-2011', '77', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Jan', '228.07'),
  ('Jan-07-2011', '78', 'Exercise & Fitness', 'Elsie', '43')),
 (('4000007', 'Dec', '194.88'),
  ('Dec-20-2011', '85', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Feb', '18.89'),
  ('Feb-02-2011', '125', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Dec', '64.36'),
  ('Dec-10-2011', '169', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Oct', '295.51'),
  ('Oct-31-2011', '180', 'Exercise & Fitness', 'Elsie', '43')),
 (('4000007', 'Sep', '12.45'),
  ('Sep-10-2011', '187', 'Team Sports', 'Elsie', '43')),
 (('4000007', 'Jun', '16.44'),
  ('Jun-13-2011', '237', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Oct', '35.66'),
  ('Oct-13-2011', '36', 'Team Sports', 'Elsie', '43')),
 (('4000007', 'Apr', '20.2'),
  ('Apr-19-2011', '37', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Sep', '157.94'),
  ('Sep-27-2011', '48', 'Exercise & Fitness', 'Elsie', '43')),
 (('4000007', 'Apr', '28.5'),
  ('Apr-10-2011', '95', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Jul', '206.9'),
  ('Jul-14-2011', '102', 'Exercise & Fitness', 'Elsie', '43')),
 (('4000007', 'Dec', '107.94'),
  ('Dec-29-2011', '145', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Sep', '30.49'),
  ('Sep-09-2011', '156', 'Team Sports', 'Elsie', '43')),
 (('4000007', 'Jul', '159.52'),
  ('Jul-12-2011', '189', 'Exercise & Fitness', 'Elsie', '43')),
 (('4000007', 'Oct', '245.48'),
  ('Oct-26-2011', '205', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'May', '174.24'),
  ('May-04-2011', '222', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Jul', '44.65'),
  ('Jul-09-2011', '232', 'Team Sports', 'Elsie', '43')),
 (('4000007', 'Apr', '218.14'),
  ('Apr-09-2011', '234', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000007', 'Sep', '249.09'),
  ('Sep-20-2011', '239', 'Outdoor Recreation', 'Elsie', '43')),
 (('4000003', 'Dec', '178.2'),
  ('Dec-20-2011', '57', 'Outdoor Recreation', 'Sherri', '34')),
 (('4000003', 'Jun', '299.07'),
  ('Jun-12-2011', '73', 'Water Sports', 'Sherri', '34')),
 (('4000003', 'May', '232.09'),
  ('May-17-2011', '87', 'Water Sports', 'Sherri', '34')),
 (('4000003', 'May', '64.21'),
  ('May-16-2011', '114', 'Gymnastics', 'Sherri', '34')),
 (('4000003', 'Jul', '292.07'),
  ('Jul-18-2011', '118', 'Outdoor Recreation', 'Sherri', '34')),
 (('4000003', 'Mar', '80.47'),
  ('Mar-17-2011', '137', 'Gymnastics', 'Sherri', '34')),
 (('4000003', 'Jul', '230.88'),
  ('Jul-20-2011', '153', 'Water Sports', 'Sherri', '34')),
 (('4000003', 'Jan', '254.47'),
  ('Jan-05-2011', '171', 'Outdoor Recreation', 'Sherri', '34')),
 (('4000003', 'Jun', '307.99'),
  ('Jun-22-2011', '181', 'Gymnastics', 'Sherri', '34')),
 (('4000003', 'Mar', '132.6'),
  ('Mar-28-2011', '191', 'Water Sports', 'Sherri', '34')),
 (('4000003', 'Nov', '51.33'),
  ('Nov-19-2011', '225', 'Gymnastics', 'Sherri', '34')),
 (('4000003', 'May', '198.19'),
  ('May-06-2011', '03', 'Gymnastics', 'Sherri', '34')),
 (('4000003', 'Oct', '151.2'),
  ('Oct-06-2011', '24', 'Water Sports', 'Sherri', '34')),
 (('4000003', 'Mar', '98.73'),
  ('Mar-20-2011', '63', 'Water Sports', 'Sherri', '34')),
 (('4000003', 'Mar', '119.22'),
  ('Mar-15-2011', '96', 'Outdoor Recreation', 'Sherri', '34')),
 (('4000003', 'Dec', '111.73'),
  ('Dec-18-2011', '105', 'Outdoor Recreation', 'Sherri', '34')),
 (('4000003', 'Jul', '328.6'),
  ('Jul-15-2011', '139', 'Outdoor Recreation', 'Sherri', '34')),
 (('4000003', 'Oct', '272.92'),
  ('Oct-03-2011', '174', 'Water Sports', 'Sherri', '34')),
 (('4000003', 'Apr', '210.87'),
  ('Apr-05-2011', '192', 'Gymnastics', 'Sherri', '34')),
 (('4000003', 'Jul', '232.37'),
  ('Jul-10-2011', '211', 'Outdoor Recreation', 'Sherri', '34')),
 (('4000009', 'Aug', '41.52'),
  ('Aug-02-2011', '12', 'Indoor Games', 'Malcolm', '39')),
 (('4000009', 'Oct', '144.2'),
  ('Oct-14-2011', '25', 'Indoor Games', 'Malcolm', '39')),
 (('4000009', 'Nov', '31.58'),
  ('Nov-10-2011', '26', 'Combat Sports', 'Malcolm', '39')),
 (('4000009', 'Mar', '43.49'),
  ('Mar-22-2011', '61', 'Combat Sports', 'Malcolm', '39')),
 (('4000009', 'Sep', '202.89'),
  ('Sep-01-2011', '79', 'Indoor Games', 'Malcolm', '39')),
 (('4000009', 'Jan', '20.68'),
  ('Jan-27-2011', '89', 'Water Sports', 'Malcolm', '39')),
 (('4000009', 'Jun', '10.23'),
  ('Jun-10-2011', '99', 'Combat Sports', 'Malcolm', '39')),
 (('4000009', 'Nov', '233.19'),
  ('Nov-07-2011', '111', 'Outdoor Play Equipment', 'Malcolm', '39')),
 (('4000009', 'Mar', '53.85'),
  ('Mar-15-2011', '113', 'Indoor Games', 'Malcolm', '39')),
 (('4000009', 'Jun', '44.55'),
  ('Jun-26-2011', '177', 'Indoor Games', 'Malcolm', '39')),
 (('4000009', 'Dec', '60.07'),
  ('Dec-15-2011', '179', 'Combat Sports', 'Malcolm', '39')),
 (('4000009', 'Dec', '13.36'),
  ('Dec-25-2011', '194', 'Water Sports', 'Malcolm', '39')),
 (('4000009', 'Oct', '101.09'),
  ('Oct-11-2011', '235', 'Gymnastics', 'Malcolm', '39')),
 (('4000009', 'Jun', '121.39'),
  ('Jun-18-2011', '11', 'Outdoor Play Equipment', 'Malcolm', '39')),
 (('4000009', 'Oct', '19.64'),
  ('Oct-10-2011', '22', 'Water Sports', 'Malcolm', '39')),
 (('4000009', 'Feb', '99.5'),
  ('Feb-05-2011', '23', 'Gymnastics', 'Malcolm', '39')),
 (('4000009', 'Nov', '113.74'),
  ('Nov-15-2011', '103', 'Outdoor Play Equipment', 'Malcolm', '39')),
 (('4000009', 'Apr', '186.16'),
  ('Apr-14-2011', '161', 'Indoor Games', 'Malcolm', '39')),
 (('4000009', 'Jan', '147.06'),
  ('Jan-14-2011', '166', 'Gymnastics', 'Malcolm', '39')),
 (('4000009', 'May', '8.39'),
  ('May-05-2011', '170', 'Indoor Games', 'Malcolm', '39')),
 (('4000009', 'Jun', '121.29'),
  ('Jun-15-2011', '173', 'Gymnastics', 'Malcolm', '39')),
 (('4000009', 'Feb', '226.83'),
  ('Feb-07-2011', '186', 'Indoor Games', 'Malcolm', '39')),
 (('4000009', 'Mar', '145.18'),
  ('Mar-16-2011', '210', 'Outdoor Play Equipment', 'Malcolm', '39')),
 (('4000008', 'Oct', '75.55'),
  ('Oct-18-2011', '17', 'Water Sports', 'Hazel', '63')),
 (('4000008', 'Dec', '79.78'),
  ('Dec-05-2011', '28', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Jun', '154.15'),
  ('Jun-15-2011', '33', 'Outdoor Recreation', 'Hazel', '63')),
 (('4000008', 'Dec', '185.26'), ('Dec-04-2011', '35', 'Games', 'Hazel', '63')),
 (('4000008', 'Aug', '28.14'),
  ('Aug-11-2011', '68', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Dec', '138.91'),
  ('Dec-20-2011', '83', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'May', '9.87'), ('May-01-2011', '84', 'Games', 'Hazel', '63')),
 (('4000008', 'Jun', '99.8'),
  ('Jun-27-2011', '110', 'Outdoor Play Equipment', 'Hazel', '63')),
 (('4000008', 'Apr', '12.09'),
  ('Apr-13-2011', '135', 'Water Sports', 'Hazel', '63')),
 (('4000008', 'Oct', '9.44'),
  ('Oct-14-2011', '164', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Apr', '94.32'),
  ('Apr-12-2011', '188', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Feb', '124.94'),
  ('Feb-15-2011', '196', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Nov', '88.65'),
  ('Nov-18-2011', '18', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Aug', '51.81'),
  ('Aug-28-2011', '19', 'Water Sports', 'Hazel', '63')),
 (('4000008', 'Nov', '5.03'), ('Nov-28-2011', '31', 'Games', 'Hazel', '63')),
 (('4000008', 'Jan', '20.13'),
  ('Jan-29-2011', '32', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Jun', '98.96'),
  ('Jun-05-2011', '34', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Oct', '100.1'),
  ('Oct-23-2011', '47', 'Outdoor Play Equipment', 'Hazel', '63')),
 (('4000008', 'Mar', '188.32'),
  ('Mar-08-2011', '75', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Feb', '134.78'),
  ('Feb-14-2011', '116', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Jan', '41.55'),
  ('Jan-26-2011', '128', 'Water Sports', 'Hazel', '63')),
 (('4000008', 'Jul', '16.16'),
  ('Jul-26-2011', '134', 'Water Sports', 'Hazel', '63')),
 (('4000008', 'Dec', '105.49'),
  ('Dec-09-2011', '143', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Sep', '131.32'),
  ('Sep-29-2011', '147', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Jul', '176.19'),
  ('Jul-04-2011', '148', 'Outdoor Recreation', 'Hazel', '63')),
 (('4000008', 'Dec', '11.61'),
  ('Dec-13-2011', '160', 'Water Sports', 'Hazel', '63')),
 (('4000008', 'Feb', '98.66'),
  ('Feb-04-2011', '167', 'Outdoor Recreation', 'Hazel', '63')),
 (('4000008', 'Sep', '53.25'),
  ('Sep-15-2011', '175', 'Outdoor Play Equipment', 'Hazel', '63')),
 (('4000008', 'Jul', '34.15'),
  ('Jul-06-2011', '199', 'Water Sports', 'Hazel', '63')),
 (('4000008', 'Jan', '197.86'),
  ('Jan-19-2011', '212', 'Games', 'Hazel', '63')),
 (('4000008', 'Sep', '38.17'),
  ('Sep-07-2011', '233', 'Team Sports', 'Hazel', '63')),
 (('4000008', 'Jan', '150.88'),
  ('Jan-30-2011', '236', 'Team Sports', 'Hazel', '63')),
 (('4000001', 'Jun', '40.33'),
  ('Jun-26-2011', '00', 'Exercise & Fitness', 'Kristina', '55')),
 (('4000001', 'Mar', '47.05'),
  ('Mar-14-2011', '30', 'Water Sports', 'Kristina', '55')),
 (('4000001', 'Jul', '21.43'),
  ('Jul-11-2011', '59', 'Winter Sports', 'Kristina', '55')),
 (('4000001', 'Jun', '62.63'),
  ('Jun-02-2011', '62', 'Exercise & Fitness', 'Kristina', '55')),
 (('4000001', 'Nov', '80.38'),
  ('Nov-23-2011', '121', 'Exercise & Fitness', 'Kristina', '55')),
 (('4000001', 'Jan', '28.52'),
  ('Jan-19-2011', '141', 'Winter Sports', 'Kristina', '55')),
 (('4000001', 'Oct', '29.17'),
  ('Oct-24-2011', '182', 'Exercise & Fitness', 'Kristina', '55')),
 (('4000001', 'Jun', '52.04'),
  ('Jun-28-2011', '219', 'Water Sports', 'Kristina', '55')),
 (('4000001', 'Oct', '137.64'),
  ('Oct-20-2011', '15', 'Combat Sports', 'Kristina', '55')),
 (('4000001', 'Mar', '126.9'),
  ('Mar-06-2011', '29', 'Outdoor Recreation', 'Kristina', '55')),
 (('4000001', 'Nov', '135.37'),
  ('Nov-09-2011', '44', 'Water Sports', 'Kristina', '55')),
 (('4000001', 'Nov', '90.04'),
  ('Nov-27-2011', '45', 'Exercise & Fitness', 'Kristina', '55')),
 (('4000001', 'May', '52.29'),
  ('May-27-2011', '46', 'Gymnastics', 'Kristina', '55')),
 (('4000001', 'Apr', '51.34'),
  ('Apr-04-2011', '72', 'Combat Sports', 'Kristina', '55')),
 (('4000001', 'Jun', '70.68'),
  ('Jun-10-2011', '80', 'Outdoor Recreation', 'Kristina', '55')),
 (('4000001', 'Apr', '60.45'),
  ('Apr-21-2011', '90', 'Gymnastics', 'Kristina', '55')),
 (('4000001', 'Jun', '31.37'),
  ('Jun-18-2011', '100', 'Gymnastics', 'Kristina', '55')),
 (('4000001', 'Aug', '3.77'),
  ('Aug-24-2011', '122', 'Winter Sports', 'Kristina', '55')),
 (('4000001', 'Dec', '25.85'),
  ('Dec-09-2011', '163', 'Exercise & Fitness', 'Kristina', '55')),
 (('4000001', 'Aug', '99.85'),
  ('Aug-02-2011', '172', 'Exercise & Fitness', 'Kristina', '55')),
 (('4000001', 'Nov', '207.66'),
  ('Nov-22-2011', '178', 'Water Sports', 'Kristina', '55')),
 (('4000001', 'Oct', '167.92'),
  ('Oct-22-2011', '197', 'Exercise & Fitness', 'Kristina', '55')),
 (('4000001', 'Feb', '114.1'),
  ('Feb-06-2011', '200', 'Combat Sports', 'Kristina', '55')),
 (('4000001', 'Mar', '83.09'),
  ('Mar-07-2011', '208', 'Water Sports', 'Kristina', '55')),
 (('4000001', 'Sep', '195.81'),
  ('Sep-03-2011', '213', 'Outdoor Recreation', 'Kristina', '55')),
 (('4000001', 'Feb', '80.33'),
  ('Feb-26-2011', '214', 'Outdoor Recreation', 'Kristina', '55')),
 (('4000002', 'May', '198.44'),
  ('May-26-2011', '01', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'Jan', '5.58'),
  ('Jan-06-2011', '02', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'Dec', '98.81'),
  ('Dec-17-2011', '04', 'Team Sports', 'Paige', '74')),
 (('4000002', 'Jul', '151.18'),
  ('Jul-23-2011', '66', 'Team Sports', 'Paige', '74')),
 (('4000002', 'Feb', '224.24'),
  ('Feb-01-2011', '101', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'Oct', '17.14'),
  ('Oct-02-2011', '106', 'Water Sports', 'Paige', '74')),
 (('4000002', 'Oct', '299.3'),
  ('Oct-18-2011', '108', 'Water Sports', 'Paige', '74')),
 (('4000002', 'Mar', '13.32'),
  ('Mar-05-2011', '117', 'Water Sports', 'Paige', '74')),
 (('4000002', 'Jan', '295.41'),
  ('Jan-19-2011', '132', 'Water Sports', 'Paige', '74')),
 (('4000002', 'Apr', '78.19'),
  ('Apr-22-2011', '138', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'Nov', '90.09'),
  ('Nov-15-2011', '146', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'May', '72.92'),
  ('May-16-2011', '154', 'Team Sports', 'Paige', '74')),
 (('4000002', 'Aug', '63.06'),
  ('Aug-08-2011', '184', 'Outdoor Recreation', 'Paige', '74')),
 (('4000002', 'Feb', '32.65'),
  ('Feb-17-2011', '51', 'Water Sports', 'Paige', '74')),
 (('4000002', 'Jun', '176.63'),
  ('Jun-21-2011', '56', 'Outdoor Recreation', 'Paige', '74')),
 (('4000002', 'Dec', '194.86'),
  ('Dec-29-2011', '58', 'Water Sports', 'Paige', '74')),
 (('4000002', 'Aug', '396.48'),
  ('Aug-19-2011', '67', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'Jun', '4.66'),
  ('Jun-06-2011', '70', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'Jul', '8.4'),
  ('Jul-03-2011', '92', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'Feb', '28.01'),
  ('Feb-01-2011', '98', 'Water Sports', 'Paige', '74')),
 (('4000002', 'Nov', '10.05'),
  ('Nov-10-2011', '107', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'Jan', '246.05'),
  ('Jan-24-2011', '123', 'Outdoor Recreation', 'Paige', '74')),
 (('4000002', 'Oct', '123.22'),
  ('Oct-02-2011', '124', 'Team Sports', 'Paige', '74')),
 (('4000002', 'May', '276.12'),
  ('May-28-2011', '150', 'Water Sports', 'Paige', '74')),
 (('4000002', 'Jan', '3'),
  ('Jan-09-2011', '162', 'Exercise & Fitness', 'Paige', '74')),
 (('4000002', 'Sep', '31.76'),
  ('Sep-22-2011', '190', 'Water Sports', 'Paige', '74')),
 (('4000002', 'Dec', '290.91'),
  ('Dec-21-2011', '202', 'Outdoor Recreation', 'Paige', '74')),
 (('4000002', 'Oct', '54.58'),
  ('Oct-24-2011', '204', 'Outdoor Recreation', 'Paige', '74')),
 (('4000002', 'Jul', '75.29'),
  ('Jul-01-2011', '226', 'Team Sports', 'Paige', '74')),
 (('4000005', 'Jul', '165.1'),
  ('Jul-11-2011', '40', 'Team Sports', 'Karen', '74')),
 (('4000005', 'May', '51.4'), ('May-31-2011', '86', 'Puzzles', 'Karen', '74')),
 (('4000005', 'Feb', '292.89'),
  ('Feb-06-2011', '94', 'Team Sports', 'Karen', '74')),
 (('4000005', 'Oct', '153.87'),
  ('Oct-11-2011', '97', 'Team Sports', 'Karen', '74')),
 (('4000005', 'Nov', '10.62'),
  ('Nov-10-2011', '104', 'Air Sports', 'Karen', '74')),
 (('4000005', 'May', '36.48'),
  ('May-18-2011', '136', 'Exercise & Fitness', 'Karen', '74')),
 (('4000005', 'Aug', '45.95'),
  ('Aug-18-2011', '195', 'Exercise & Fitness', 'Karen', '74')),
 (('4000005', 'Oct', '73.45'),
  ('Oct-23-2011', '216', 'Air Sports', 'Karen', '74')),
 (('4000005', 'Aug', '21.53'),
  ('Aug-04-2011', '224', 'Puzzles', 'Karen', '74')),
 (('4000005', 'Mar', '145.12'),
  ('Mar-06-2011', '229', 'Team Sports', 'Karen', '74')),
 (('4000005', 'Apr', '86.41'),
  ('Apr-08-2011', '238', 'Outdoor Play Equipment', 'Karen', '74')),
 (('4000005', 'Oct', '27.89'),
  ('Oct-28-2011', '06', 'Puzzles', 'Karen', '74')),
 (('4000005', 'Jun', '41.55'),
  ('Jun-29-2011', '20', 'Exercise & Fitness', 'Karen', '74')),
 (('4000005', 'Feb', '45.79'),
  ('Feb-14-2011', '21', 'Air Sports', 'Karen', '74')),
 (('4000005', 'Apr', '44.82'),
  ('Apr-02-2011', '52', 'Outdoor Play Equipment', 'Karen', '74')),
 (('4000005', 'Aug', '25.41'),
  ('Aug-28-2011', '65', 'Outdoor Play Equipment', 'Karen', '74')),
 (('4000005', 'Sep', '41.05'),
  ('Sep-20-2011', '115', 'Exercise & Fitness', 'Karen', '74')),
 (('4000005', 'Jul', '19.47'),
  ('Jul-16-2011', '176', 'Puzzles', 'Karen', '74')),
 (('4000005', 'Oct', '267.63'),
  ('Oct-17-2011', '185', 'Team Sports', 'Karen', '74')),
 (('4000005', 'Sep', '73.33'),
  ('Sep-08-2011', '198', 'Outdoor Play Equipment', 'Karen', '74')),
 (('4000005', 'May', '43.21'),
  ('May-25-2011', '227', 'Exercise & Fitness', 'Karen', '74')),
 (('4000005', 'Oct', '12.91'),
  ('Oct-31-2011', '230', 'Air Sports', 'Karen', '74')),
 (('4000006', 'Jul', '96.01'),
  ('Jul-14-2011', '07', 'Outdoor Play Equipment', 'Patrick', '42')),
 (('4000006', 'Dec', '106.11'),
  ('Dec-16-2011', '55', 'Water Sports', 'Patrick', '42')),
 (('4000006', 'Aug', '328.32'),
  ('Aug-25-2011', '126', 'Outdoor Play Equipment', 'Patrick', '42')),
 (('4000006', 'Feb', '194.41'),
  ('Feb-11-2011', '130', 'Outdoor Play Equipment', 'Patrick', '42')),
 (('4000006', 'Aug', '47.72'),
  ('Aug-07-2011', '144', 'Jumping', 'Patrick', '42')),
 (('4000006', 'Jan', '4.04'),
  ('Jan-05-2011', '157', 'Winter Sports', 'Patrick', '42')),
 (('4000006', 'May', '82.09'),
  ('May-25-2011', '159', 'Outdoor Play Equipment', 'Patrick', '42')),
 (('4000006', 'Feb', '77.99'),
  ('Feb-09-2011', '217', 'Water Sports', 'Patrick', '42')),
 (('4000006', 'Jan', '95.07'),
  ('Jan-10-2011', '220', 'Water Sports', 'Patrick', '42')),
 (('4000006', 'Jan', '10.44'),
  ('Jan-17-2011', '08', 'Winter Sports', 'Patrick', '42')),
 (('4000006', 'May', '152.46'),
  ('May-17-2011', '09', 'Jumping', 'Patrick', '42')),
 (('4000006', 'Dec', '174.36'),
  ('Dec-03-2011', '39', 'Outdoor Play Equipment', 'Patrick', '42')),
 (('4000006', 'Feb', '7.37'),
  ('Feb-16-2011', '112', 'Winter Sports', 'Patrick', '42')),
 (('4000006', 'Dec', '11.11'),
  ('Dec-19-2011', '131', 'Winter Sports', 'Patrick', '42')),
 (('4000006', 'Jul', '11.53'),
  ('Jul-17-2011', '133', 'Winter Sports', 'Patrick', '42')),
 (('4000006', 'Oct', '144.63'),
  ('Oct-17-2011', '215', 'Water Sports', 'Patrick', '42')),
 (('4000006', 'May', '174.53'),

In [22]:
rdd_month_maxCost = trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[1], x[2], x[3])) \
.map(lambda x: (x[0].split('-'), x[1], x[2])).map(lambda x: (x[0][0], x[1], x[2])) \
.distinct().map(lambda x: (x[1], x[0], x[2])).groupBy(lambda x: x[1]) \
.flatMap(lambda g: nlargest(1, g[1], key=lambda x: float(x[2]))) \
.map(lambda x: ((x[0],x[1], x[2]), 1)).sortBy(lambda x: x[1])
rdd_month_maxCost.collect()

[(('4000004', 'May', '317.94'), 1),
 (('4000005', 'Feb', '292.89'), 1),
 (('4000002', 'Jan', '295.41'), 1),
 (('4000002', 'Aug', '396.48'), 1),
 (('4000008', 'Mar', '188.32'), 1),
 (('4000002', 'Oct', '299.3'), 1),
 (('4000003', 'Jun', '307.99'), 1),
 (('4000002', 'Dec', '290.91'), 1),
 (('4000007', 'Apr', '218.14'), 1),
 (('4000004', 'Nov', '358.22'), 1),
 (('4000003', 'Jul', '328.6'), 1),
 (('4000007', 'Sep', '249.09'), 1)]

In [23]:
rdd_q3.join(rdd_month_maxCost).collect()

[(('4000004', 'Nov', '358.22'),
  (('Nov-04-2011', '82', 'Outdoor Recreation', 'Gretchen', '66'), 1)),
 (('4000002', 'Oct', '299.3'),
  (('Oct-18-2011', '108', 'Water Sports', 'Paige', '74'), 1)),
 (('4000005', 'Feb', '292.89'),
  (('Feb-06-2011', '94', 'Team Sports', 'Karen', '74'), 1)),
 (('4000004', 'May', '317.94'),
  (('May-04-2011', '93', 'Outdoor Recreation', 'Gretchen', '66'), 1)),
 (('4000002', 'Aug', '396.48'),
  (('Aug-19-2011', '67', 'Exercise & Fitness', 'Paige', '74'), 1)),
 (('4000007', 'Sep', '249.09'),
  (('Sep-20-2011', '239', 'Outdoor Recreation', 'Elsie', '43'), 1)),
 (('4000002', 'Dec', '290.91'),
  (('Dec-21-2011', '202', 'Outdoor Recreation', 'Paige', '74'), 1)),
 (('4000007', 'Apr', '218.14'),
  (('Apr-09-2011', '234', 'Outdoor Recreation', 'Elsie', '43'), 1)),
 (('4000003', 'Jun', '307.99'),
  (('Jun-22-2011', '181', 'Gymnastics', 'Sherri', '34'), 1)),
 (('4000003', 'Jul', '328.6'),
  (('Jul-15-2011', '139', 'Outdoor Recreation', 'Sherri', '34'), 1)),
 (('4000002', 'Jan', '295.41'),
  (('Jan-19-2011', '132', 'Water Sports', 'Paige', '74'), 1)),
 (('4000008', 'Mar', '188.32'),
  (('Mar-08-2011', '75', 'Team Sports', 'Hazel', '63'), 1))]

In [24]:
rdd_q3.join(rdd_month_maxCost).map(lambda x: (x[1][0][0], x[1][0][1], x[0][0], x[1][0][3], 
                                              x[1][0][4], x[1][0][2], x[0][2], x[0][1])) \
                                              .sortBy(lambda x: x[7]) \
                                              .map(lambda x: (x[0], x[1], x[2], x[3], x[4], x[5], x[6])).collect()

[('Apr-09-2011',
  '234',
  '4000007',
  'Elsie',
  '43',
  'Outdoor Recreation',
  '218.14'),
 ('Aug-19-2011',
  '67',
  '4000002',
  'Paige',
  '74',
  'Exercise & Fitness',
  '396.48'),
 ('Dec-21-2011',
  '202',
  '4000002',
  'Paige',
  '74',
  'Outdoor Recreation',
  '290.91'),
 ('Feb-06-2011', '94', '4000005', 'Karen', '74', 'Team Sports', '292.89'),
 ('Jan-19-2011', '132', '4000002', 'Paige', '74', 'Water Sports', '295.41'),
 ('Jul-15-2011',
  '139',
  '4000003',
  'Sherri',
  '34',
  'Outdoor Recreation',
  '328.6'),
 ('Jun-22-2011', '181', '4000003', 'Sherri', '34', 'Gymnastics', '307.99'),
 ('Mar-08-2011', '75', '4000008', 'Hazel', '63', 'Team Sports', '188.32'),
 ('May-04-2011',
  '93',
  '4000004',
  'Gretchen',
  '66',
  'Outdoor Recreation',
  '317.94'),
 ('Nov-04-2011',
  '82',
  '4000004',
  'Gretchen',
  '66',
  'Outdoor Recreation',
  '358.22'),
 ('Oct-18-2011', '108', '4000002', 'Paige', '74', 'Water Sports', '299.3'),
 ('Sep-20-2011',
  '239',
  '4000007',
  'Elsie',
  '43',
  'Outdoor Recreation',
  '249.09')]

## **Câu 4:** For each state, show the number of distinct players of each state, the results are sorted by the number of players

In [25]:
from operator import add
trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[7], x[2], 1)).distinct() \
.map(lambda x: (x[0], x[2])).reduceByKey(add).sortBy(lambda x: x[1]).collect()

[('New Jersey', 1),
 ('Florida', 1),
 ('Louisiana', 1),
 ('Wisconsin', 1),
 ('Iowa', 1),
 ('Oklahoma', 1),
 ('Utah', 1),
 ('Kentucky', 1),
 ('Nebraska', 2),
 ('Colorado', 2),
 ('Minnesota', 2),
 ('Texas', 2),
 ('Hawaii', 2),
 ('Arizona', 2),
 ('New York', 2),
 ('Massachusetts', 2),
 ('Georgia', 2),
 ('Virginia', 2),
 ('Illinois', 3),
 ('Tennessee', 3),
 ('Washington', 3),
 ('South Carolina', 3),
 ('Ohio', 3),
 ('Pennsylvania', 3),
 ('Nevada', 3),
 ('California', 6)]

## **Câu 5:** For each state, show the name of three oldest player in each state, the results are sorted by the state

In [26]:
from heapq import nlargest
trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[7])).distinct() \
.join(custRDD.map(lambda x: x.split(",")).map(lambda x: (x[0], (x[1], x[3])))) \
.map(lambda x: (x[1][0], (x[1][1][0], x[1][1][1]))) \
.groupBy(lambda x: x[0]).flatMap(lambda g: nlargest(3, g[1], key=lambda x: x[1][1])) \
.map(lambda x: (x[0], x[1][0])).reduceByKey(lambda x,y: x + " - " + y).sortByKey().collect()

[('Arizona', 'Kristina - Malcolm'),
 ('California', 'Paige - Hazel - Dolores'),
 ('Colorado', 'Gretchen - Hazel'),
 ('Florida', 'Patrick'),
 ('Georgia', 'Paige - Hazel'),
 ('Hawaii', 'Dolores - Kristina'),
 ('Illinois', 'Gretchen - Hazel - Malcolm'),
 ('Iowa', 'Patrick'),
 ('Kentucky', 'Hazel'),
 ('Louisiana', 'Karen'),
 ('Massachusetts', 'Paige - Dolores'),
 ('Minnesota', 'Elsie - Malcolm'),
 ('Nebraska', 'Hazel - Kristina'),
 ('Nevada', 'Karen - Gretchen - Elsie'),
 ('New Jersey', 'Hazel'),
 ('New York', 'Karen - Patrick'),
 ('Ohio', 'Kristina - Patrick - Malcolm'),
 ('Oklahoma', 'Paige'),
 ('Pennsylvania', 'Kristina - Elsie - Patrick'),
 ('South Carolina', 'Karen - Gretchen - Dolores'),
 ('Tennessee', 'Paige - Hazel - Kristina'),
 ('Texas', 'Gretchen - Sherri'),
 ('Utah', 'Hazel'),
 ('Virginia', 'Karen - Elsie'),
 ('Washington', 'Hazel - Dolores - Kristina'),
 ('Wisconsin', 'Sherri')]

## **Câu 6:** For each state, show the average age of players in each state, the results are sorted by the average age

In [27]:
trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[7])).distinct() \
.join(custRDD.map(lambda x: x.split(",")).map(lambda x: (x[0],  x[3]))) \
.map(lambda x: (x[1][0], (x[1][1], 1))) \
.reduceByKey(lambda x,y: (float(x[0])+float(y[0]), float(x[1])+float(y[1]))) \
.map(lambda x: (x[0], float(x[1][0])/float(x[1][1]))).sortBy(lambda x: x[1]).collect()

[('Wisconsin', 34.0),
 ('Minnesota', 41.0),
 ('Iowa', 42.0),
 ('Florida', 42.0),
 ('Ohio', 45.333333333333336),
 ('Pennsylvania', 46.666666666666664),
 ('Arizona', 47.0),
 ('Texas', 50.0),
 ('California', 52.166666666666664),
 ('Illinois', 56.0),
 ('Hawaii', 57.5),
 ('New York', 58.0),
 ('Virginia', 58.5),
 ('Nebraska', 59.0),
 ('Washington', 59.333333333333336),
 ('Nevada', 61.0),
 ('New Jersey', 63.0),
 ('Utah', 63.0),
 ('Kentucky', 63.0),
 ('Tennessee', 64.0),
 ('Colorado', 64.5),
 ('South Carolina', 66.66666666666667),
 ('Massachusetts', 67.0),
 ('Georgia', 68.5),
 ('Louisiana', 74.0),
 ('Oklahoma', 74.0)]

## **Câu 7:** Show the ID and all game types played by players who is more than 40 years old and don’t play “Water Sports”, the results are sorted by player IDs

In [28]:
custRDD.map(lambda x: x.split(",")).map(lambda x: (x[0],  x[3])).collect()

[('4000001', '55'),
 ('4000002', '74'),
 ('4000003', '34'),
 ('4000004', '66'),
 ('4000005', '74'),
 ('4000006', '42'),
 ('4000007', '43'),
 ('4000008', '63'),
 ('4000009', '39'),
 ('4000010', '60')]

In [29]:
trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[4])).distinct() \
.join(custRDD.map(lambda x: x.split(",")).map(lambda x: (x[0],  x[3]))) \
.filter(lambda x: float(x[1][1]) >= 40).reduceByKey(lambda x,y: (x[0] + " - " + y[0], x[1])) \
.filter(lambda x: 'Water Sports' not in x[1][0]).sortByKey() \
.collect()

[('4000005',
  ('Puzzles - Exercise & Fitness - Air Sports - Team Sports - Outdoor Play Equipment',
   '74')),
 ('4000007', ('Team Sports - Exercise & Fitness - Outdoor Recreation', '43')),
 ('4000010',
  ('Gymnastics - Jumping - Team Sports - Exercise & Fitness - Games', '60'))]

## **Câu 8:** For each player ID, show the average number of game per month, the results are sorted by player ID

In [30]:
trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[1], x[2])) \
.map(lambda x: (x[0].split('-'), x[1])).map(lambda x: (x[0][0], (x[1]))) \
.distinct().map(lambda x: (x[1], x[0])).sortBy(lambda x: x[1])

PythonRDD[272] at RDD at PythonRDD.scala:53

In [31]:
from operator import add
trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[2], 1)) \
.reduceByKey(add).map(lambda x: (x[0], float(x[1])/12)).sortByKey().collect()

[('4000001', 2.1666666666666665),
 ('4000002', 2.4166666666666665),
 ('4000003', 1.6666666666666667),
 ('4000004', 1.9166666666666667),
 ('4000005', 1.8333333333333333),
 ('4000006', 1.4166666666666667),
 ('4000007', 2.0833333333333335),
 ('4000008', 2.6666666666666665),
 ('4000009', 1.9166666666666667),
 ('4000010', 1.9166666666666667)]

## **Câu 9:** For each player ID, show the list of three months with highest number of transaction, and the list of the number of transactions in these three months

In [32]:
trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[1], 1)) \
.map(lambda x: (x[0],x[1][0]+x[1][1]+x[1][2],x[2])).collect()

[('4000001', 'Jun', 1),
 ('4000002', 'May', 1),
 ('4000002', 'Jan', 1),
 ('4000003', 'May', 1),
 ('4000002', 'Dec', 1),
 ('4000004', 'Feb', 1),
 ('4000005', 'Oct', 1),
 ('4000006', 'Jul', 1),
 ('4000006', 'Jan', 1),
 ('4000006', 'May', 1),
 ('4000007', 'May', 1),
 ('4000009', 'Jun', 1),
 ('4000009', 'Aug', 1),
 ('4000010', 'Mar', 1),
 ('4000010', 'Feb', 1),
 ('4000001', 'Oct', 1),
 ('4000010', 'May', 1),
 ('4000008', 'Oct', 1),
 ('4000008', 'Nov', 1),
 ('4000008', 'Aug', 1),
 ('4000005', 'Jun', 1),
 ('4000005', 'Feb', 1),
 ('4000009', 'Oct', 1),
 ('4000009', 'Feb', 1),
 ('4000003', 'Oct', 1),
 ('4000009', 'Oct', 1),
 ('4000009', 'Nov', 1),
 ('4000010', 'Sep', 1),
 ('4000008', 'Dec', 1),
 ('4000001', 'Mar', 1),
 ('4000001', 'Mar', 1),
 ('4000008', 'Nov', 1),
 ('4000008', 'Jan', 1),
 ('4000008', 'Jun', 1),
 ('4000008', 'Jun', 1),
 ('4000008', 'Dec', 1),
 ('4000007', 'Oct', 1),
 ('4000007', 'Apr', 1),
 ('4000007', 'May', 1),
 ('4000006', 'Dec', 1),
 ('4000005', 'Jul', 1),
 ('4000004', 'Apr', 1),
 ('4000004', 'Oct', 1),
 ('4000004', 'Apr', 1),
 ('4000001', 'Nov', 1),
 ('4000001', 'Nov', 1),
 ('4000001', 'May', 1),
 ('4000008', 'Oct', 1),
 ('4000007', 'Sep', 1),
 ('4000010', 'Dec', 1),
 ('4000010', 'Oct', 1),
 ('4000002', 'Feb', 1),
 ('4000005', 'Apr', 1),
 ('4000004', 'Dec', 1),
 ('4000007', 'Mar', 1),
 ('4000006', 'Dec', 1),
 ('4000002', 'Jun', 1),
 ('4000003', 'Dec', 1),
 ('4000002', 'Dec', 1),
 ('4000001', 'Jul', 1),
 ('4000010', 'Aug', 1),
 ('4000009', 'Mar', 1),
 ('4000001', 'Jun', 1),
 ('4000003', 'Mar', 1),
 ('4000004', 'Jan', 1),
 ('4000005', 'Aug', 1),
 ('4000002', 'Jul', 1),
 ('4000002', 'Aug', 1),
 ('4000008', 'Aug', 1),
 ('4000010', 'May', 1),
 ('4000002', 'Jun', 1),
 ('4000004', 'Mar', 1),
 ('4000001', 'Apr', 1),
 ('4000003', 'Jun', 1),
 ('4000007', 'Jul', 1),
 ('4000008', 'Mar', 1),
 ('4000010', 'Apr', 1),
 ('4000007', 'Aug', 1),
 ('4000007', 'Jan', 1),
 ('4000009', 'Sep', 1),
 ('4000001', 'Jun', 1),
 ('4000010', 'Jan', 1),
 ('4000004', 'Nov', 1),
 ('4000008', 'Dec', 1),
 ('4000008', 'May', 1),
 ('4000007', 'Dec', 1),
 ('4000005', 'May', 1),
 ('4000003', 'May', 1),
 ('4000004', 'Jul', 1),
 ('4000009', 'Jan', 1),
 ('4000001', 'Apr', 1),
 ('4000004', 'Feb', 1),
 ('4000002', 'Jul', 1),
 ('4000004', 'May', 1),
 ('4000005', 'Feb', 1),
 ('4000007', 'Apr', 1),
 ('4000003', 'Mar', 1),
 ('4000005', 'Oct', 1),
 ('4000002', 'Feb', 1),
 ('4000009', 'Jun', 1),
 ('4000001', 'Jun', 1),
 ('4000002', 'Feb', 1),
 ('4000007', 'Jul', 1),
 ('4000009', 'Nov', 1),
 ('4000005', 'Nov', 1),
 ('4000003', 'Dec', 1),
 ('4000002', 'Oct', 1),
 ('4000002', 'Nov', 1),
 ('4000002', 'Oct', 1),
 ('4000004', 'Dec', 1),
 ('4000008', 'Jun', 1),
 ('4000009', 'Nov', 1),
 ('4000006', 'Feb', 1),
 ('4000009', 'Mar', 1),
 ('4000003', 'May', 1),
 ('4000005', 'Sep', 1),
 ('4000008', 'Feb', 1),
 ('4000002', 'Mar', 1),
 ('4000003', 'Jul', 1),
 ('4000004', 'Nov', 1),
 ('4000004', 'May', 1),
 ('4000001', 'Nov', 1),
 ('4000001', 'Aug', 1),
 ('4000002', 'Jan', 1),
 ('4000002', 'Oct', 1),
 ('4000007', 'Feb', 1),
 ('4000006', 'Aug', 1),
 ('4000004', 'Nov', 1),
 ('4000008', 'Jan', 1),
 ('4000010', 'Dec', 1),
 ('4000006', 'Feb', 1),
 ('4000006', 'Dec', 1),
 ('4000002', 'Jan', 1),
 ('4000006', 'Jul', 1),
 ('4000008', 'Jul', 1),
 ('4000008', 'Apr', 1),
 ('4000005', 'May', 1),
 ('4000003', 'Mar', 1),
 ('4000002', 'Apr', 1),
 ('4000003', 'Jul', 1),
 ('4000010', 'Mar', 1),
 ('4000001', 'Jan', 1),
 ('4000010', 'Jan', 1),
 ('4000008', 'Dec', 1),
 ('4000006', 'Aug', 1),
 ('4000007', 'Dec', 1),
 ('4000002', 'Nov', 1),
 ('4000008', 'Sep', 1),
 ('4000008', 'Jul', 1),
 ('4000004', 'Feb', 1),
 ('4000002', 'May', 1),
 ('4000004', 'Mar', 1),
 ('4000010', 'Oct', 1),
 ('4000003', 'Jul', 1),
 ('4000002', 'May', 1),
 ('4000010', 'Feb', 1),
 ('4000007', 'Sep', 1),
 ('4000006', 'Jan', 1),
 ('4000010', 'Aug', 1),
 ('4000006', 'May', 1),
 ('4000008', 'Dec', 1),
 ('4000009', 'Apr', 1),
 ('4000002', 'Jan', 1),
 ('4000001', 'Dec', 1),
 ('4000008', 'Oct', 1),
 ('4000004', 'Aug', 1),
 ('4000009', 'Jan', 1),
 ('4000008', 'Feb', 1),
 ('4000010', 'Jan', 1),
 ('4000007', 'Dec', 1),
 ('4000009', 'May', 1),
 ('4000003', 'Jan', 1),
 ('4000001', 'Aug', 1),
 ('4000009', 'Jun', 1),
 ('4000003', 'Oct', 1),
 ('4000008', 'Sep', 1),
 ('4000005', 'Jul', 1),
 ('4000009', 'Jun', 1),
 ('4000001', 'Nov', 1),
 ('4000009', 'Dec', 1),
 ('4000007', 'Oct', 1),
 ('4000003', 'Jun', 1),
 ('4000001', 'Oct', 1),
 ('4000004', 'Dec', 1),
 ('4000002', 'Aug', 1),
 ('4000005', 'Oct', 1),
 ('4000009', 'Feb', 1),
 ('4000007', 'Sep', 1),
 ('4000008', 'Apr', 1),
 ('4000007', 'Jul', 1),
 ('4000002', 'Sep', 1),
 ('4000003', 'Mar', 1),
 ('4000003', 'Apr', 1),
 ('4000010', 'Aug', 1),
 ('4000009', 'Dec', 1),
 ('4000005', 'Aug', 1),
 ('4000008', 'Feb', 1),
 ('4000001', 'Oct', 1),
 ('4000005', 'Sep', 1),
 ('4000008', 'Jul', 1),
 ('4000001', 'Feb', 1),
 ('4000004', 'Sep', 1),
 ('4000002', 'Dec', 1),
 ('4000004', 'Jul', 1),
 ('4000002', 'Oct', 1),
 ('4000007', 'Oct', 1),
 ('4000010', 'Aug', 1),
 ('4000004', 'Aug', 1),
 ('4000001', 'Mar', 1),
 ('4000004', 'Jun', 1),
 ('4000009', 'Mar', 1),
 ('4000003', 'Jul', 1),
 ('4000008', 'Jan', 1),
 ('4000001', 'Sep', 1),
 ('4000001', 'Feb', 1),
 ('4000006', 'Oct', 1),
 ('4000005', 'Oct', 1),
 ('4000006', 'Feb', 1),
 ('4000010', 'Jun', 1),
 ('4000001', 'Jun', 1),
 ('4000006', 'Jan', 1),
 ('4000010', 'Mar', 1),
 ('4000007', 'May', 1),
 ('4000006', 'May', 1),
 ('4000005', 'Aug', 1),
 ('4000003', 'Nov', 1),
 ('4000002', 'Jul', 1),
 ('4000005', 'May', 1),
 ('4000010', 'Nov', 1),
 ('4000005', 'Mar', 1),
 ('4000005', 'Oct', 1),
 ('4000010', 'May', 1),
 ('4000007', 'Jul', 1),
 ('4000008', 'Sep', 1),
 ('4000007', 'Apr', 1),
 ('4000009', 'Oct', 1),
 ('4000008', 'Jan', 1),
 ('4000007', 'Jun', 1),
 ('4000005', 'Apr', 1),
 ('4000007', 'Sep', 1)]

In [33]:
cau9 = trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[1], 1)) \
.map(lambda x: ((x[0],x[1][0]+x[1][1]+x[1][2]),x[2])) \
.reduceByKey(lambda x, y: float(x) + float(y)).map(lambda x: (x[0][0], x[0][1], x[1]))
cau9.collect()

[('4000001', 'Jun', 5.0),
 ('4000002', 'Jan', 4.0),
 ('4000002', 'Dec', 3.0),
 ('4000005', 'Oct', 5.0),
 ('4000006', 'Jul', 2.0),
 ('4000006', 'Jan', 3.0),
 ('4000007', 'May', 3.0),
 ('4000009', 'Jun', 4.0),
 ('4000009', 'Aug', 1),
 ('4000010', 'Mar', 3.0),
 ('4000010', 'Feb', 2.0),
 ('4000001', 'Oct', 3.0),
 ('4000005', 'Jun', 1),
 ('4000005', 'Feb', 2.0),
 ('4000009', 'Oct', 3.0),
 ('4000009', 'Feb', 2.0),
 ('4000003', 'Oct', 2.0),
 ('4000009', 'Nov', 3.0),
 ('4000010', 'Sep', 1),
 ('4000001', 'Mar', 3.0),
 ('4000006', 'Dec', 3.0),
 ('4000005', 'Jul', 2.0),
 ('4000001', 'Nov', 4.0),
 ('4000010', 'Dec', 2.0),
 ('4000010', 'Oct', 2.0),
 ('4000002', 'Feb', 3.0),
 ('4000005', 'Apr', 2.0),
 ('4000002', 'Jun', 2.0),
 ('4000003', 'Dec', 2.0),
 ('4000001', 'Jul', 1),
 ('4000010', 'Aug', 4.0),
 ('4000009', 'Mar', 3.0),
 ('4000003', 'Mar', 4.0),
 ('4000005', 'Aug', 3.0),
 ('4000002', 'Jul', 3.0),
 ('4000002', 'Aug', 2.0),
 ('4000001', 'Apr', 2.0),
 ('4000003', 'Jun', 2.0),
 ('4000010', 'Apr', 1),
 ('4000009', 'Sep', 1),
 ('4000010', 'Jan', 3.0),
 ('4000008', 'May', 1),
 ('4000009', 'Jan', 2.0),
 ('4000004', 'May', 2.0),
 ('4000005', 'Nov', 1),
 ('4000002', 'Oct', 4.0),
 ('4000002', 'Nov', 2.0),
 ('4000006', 'Feb', 3.0),
 ('4000005', 'Sep', 2.0),
 ('4000002', 'Mar', 1),
 ('4000003', 'Jul', 4.0),
 ('4000001', 'Aug', 2.0),
 ('4000006', 'Aug', 2.0),
 ('4000002', 'Apr', 1),
 ('4000001', 'Jan', 1),
 ('4000009', 'Apr', 1),
 ('4000001', 'Dec', 1),
 ('4000003', 'Jan', 1),
 ('4000009', 'Dec', 2.0),
 ('4000002', 'Sep', 1),
 ('4000003', 'Apr', 1),
 ('4000001', 'Feb', 2.0),
 ('4000001', 'Sep', 1),
 ('4000006', 'Oct', 1),
 ('4000010', 'Jun', 1),
 ('4000003', 'Nov', 1),
 ('4000010', 'Nov', 1),
 ('4000005', 'Mar', 1),
 ('4000002', 'May', 3.0),
 ('4000003', 'May', 3.0),
 ('4000004', 'Feb', 3.0),
 ('4000006', 'May', 3.0),
 ('4000010', 'May', 3.0),
 ('4000008', 'Oct', 3.0),
 ('4000008', 'Nov', 2.0),
 ('4000008', 'Aug', 2.0),
 ('4000008', 'Dec', 5.0),
 ('4000008', 'Jan', 4.0),
 ('4000008', 'Jun', 3.0),
 ('4000007', 'Oct', 3.0),
 ('4000007', 'Apr', 3.0),
 ('4000004', 'Apr', 2.0),
 ('4000004', 'Oct', 1),
 ('4000001', 'May', 1),
 ('4000007', 'Sep', 4.0),
 ('4000004', 'Dec', 3.0),
 ('4000007', 'Mar', 1),
 ('4000004', 'Jan', 1),
 ('4000004', 'Mar', 2.0),
 ('4000007', 'Jul', 4.0),
 ('4000008', 'Mar', 1),
 ('4000007', 'Aug', 1),
 ('4000007', 'Jan', 1),
 ('4000004', 'Nov', 3.0),
 ('4000007', 'Dec', 3.0),
 ('4000005', 'May', 3.0),
 ('4000004', 'Jul', 2.0),
 ('4000008', 'Feb', 3.0),
 ('4000007', 'Feb', 1),
 ('4000008', 'Jul', 3.0),
 ('4000008', 'Apr', 2.0),
 ('4000008', 'Sep', 3.0),
 ('4000004', 'Aug', 2.0),
 ('4000009', 'May', 1),
 ('4000004', 'Sep', 1),
 ('4000004', 'Jun', 1),
 ('4000007', 'Jun', 1)]

In [34]:
from heapq import nlargest
cau9.groupBy(
    lambda x: x[0],
).flatMap(
    lambda g: nlargest(3, g[1], key=lambda x: int(x[2]))
).map(lambda x: (x[0],(x[1], x[2]))).reduceByKey(lambda x, y: (str(x[0])+","+str(y[0]), 
                                                              (str(x[1])+","+str(y[1])))).collect()

[('4000007', ('Sep,Jul,May', '4.0,4.0,3.0')),
 ('4000008', ('Dec,Jan,Oct', '5.0,4.0,3.0')),
 ('4000004', ('Feb,Dec,Nov', '3.0,3.0,3.0')),
 ('4000001', ('Jun,Nov,Oct', '5.0,4.0,3.0')),
 ('4000002', ('Jan,Oct,Dec', '4.0,4.0,3.0')),
 ('4000005', ('Oct,Aug,May', '5.0,3.0,3.0')),
 ('4000006', ('Jan,Dec,Feb', '3.0,3.0,3.0')),
 ('4000009', ('Jun,Oct,Nov', '4.0,3.0,3.0')),
 ('4000010', ('Aug,Mar,Jan', '4.0,3.0,3.0')),
 ('4000003', ('Mar,Jul,May', '4.0,4.0,3.0'))]

## **Câu 10 :** For each player ID, show the game with highest total cost, and the total cost of this game, the results are sorted by player ID

In [35]:
trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[4], x[3])).collect()

[('4000001', 'Exercise & Fitness', '40.33'),
 ('4000002', 'Exercise & Fitness', '198.44'),
 ('4000002', 'Exercise & Fitness', '5.58'),
 ('4000003', 'Gymnastics', '198.19'),
 ('4000002', 'Team Sports', '98.81'),
 ('4000004', 'Outdoor Recreation', '193.63'),
 ('4000005', 'Puzzles', '27.89'),
 ('4000006', 'Outdoor Play Equipment', '96.01'),
 ('4000006', 'Winter Sports', '10.44'),
 ('4000006', 'Jumping', '152.46'),
 ('4000007', 'Outdoor Recreation', '180.28'),
 ('4000009', 'Outdoor Play Equipment', '121.39'),
 ('4000009', 'Indoor Games', '41.52'),
 ('4000010', 'Team Sports', '107.8'),
 ('4000010', 'Gymnastics', '36.81'),
 ('4000001', 'Combat Sports', '137.64'),
 ('4000010', 'Exercise & Fitness', '35.56'),
 ('4000008', 'Water Sports', '75.55'),
 ('4000008', 'Team Sports', '88.65'),
 ('4000008', 'Water Sports', '51.81'),
 ('4000005', 'Exercise & Fitness', '41.55'),
 ('4000005', 'Air Sports', '45.79'),
 ('4000009', 'Water Sports', '19.64'),
 ('4000009', 'Gymnastics', '99.5'),
 ('4000003', 'Water Sports', '151.2'),
 ('4000009', 'Indoor Games', '144.2'),
 ('4000009', 'Combat Sports', '31.58'),
 ('4000010', 'Games', '66.4'),
 ('4000008', 'Team Sports', '79.78'),
 ('4000001', 'Outdoor Recreation', '126.9'),
 ('4000001', 'Water Sports', '47.05'),
 ('4000008', 'Games', '5.03'),
 ('4000008', 'Team Sports', '20.13'),
 ('4000008', 'Outdoor Recreation', '154.15'),
 ('4000008', 'Team Sports', '98.96'),
 ('4000008', 'Games', '185.26'),
 ('4000007', 'Team Sports', '35.66'),
 ('4000007', 'Outdoor Recreation', '20.2'),
 ('4000007', 'Outdoor Recreation', '150.6'),
 ('4000006', 'Outdoor Play Equipment', '174.36'),
 ('4000005', 'Team Sports', '165.1'),
 ('4000004', 'Indoor Games', '28.11'),
 ('4000004', 'Outdoor Recreation', '38.52'),
 ('4000004', 'Water Sports', '32.34'),
 ('4000001', 'Water Sports', '135.37'),
 ('4000001', 'Exercise & Fitness', '90.04'),
 ('4000001', 'Gymnastics', '52.29'),
 ('4000008', 'Outdoor Play Equipment', '100.1'),
 ('4000007', 'Exercise & Fitness', '157.94'),
 ('4000010', 'Jumping', '144.59'),
 ('4000010', 'Jumping', '55.93'),
 ('4000002', 'Water Sports', '32.65'),
 ('4000005', 'Outdoor Play Equipment', '44.82'),
 ('4000004', 'Water Sports', '44.46'),
 ('4000007', 'Outdoor Recreation', '154.87'),
 ('4000006', 'Water Sports', '106.11'),
 ('4000002', 'Outdoor Recreation', '176.63'),
 ('4000003', 'Outdoor Recreation', '178.2'),
 ('4000002', 'Water Sports', '194.86'),
 ('4000001', 'Winter Sports', '21.43'),
 ('4000010', 'Jumping', '29.79'),
 ('4000009', 'Combat Sports', '43.49'),
 ('4000001', 'Exercise & Fitness', '62.63'),
 ('4000003', 'Water Sports', '98.73'),
 ('4000004', 'Outdoor Recreation', '130.12'),
 ('4000005', 'Outdoor Play Equipment', '25.41'),
 ('4000002', 'Team Sports', '151.18'),
 ('4000002', 'Exercise & Fitness', '396.48'),
 ('4000008', 'Team Sports', '28.14'),
 ('4000010', 'Team Sports', '32.23'),
 ('4000002', 'Exercise & Fitness', '4.66'),
 ('4000004', 'Outdoor Recreation', '42.14'),
 ('4000001', 'Combat Sports', '51.34'),
 ('4000003', 'Water Sports', '299.07'),
 ('4000007', 'Outdoor Recreation', '251.05'),
 ('4000008', 'Team Sports', '188.32'),
 ('4000010', 'Gymnastics', '71.12'),
 ('4000007', 'Outdoor Recreation', '30.82'),
 ('4000007', 'Exercise & Fitness', '228.07'),
 ('4000009', 'Indoor Games', '202.89'),
 ('4000001', 'Outdoor Recreation', '70.68'),
 ('4000010', 'Games', '106.77'),
 ('4000004', 'Outdoor Recreation', '358.22'),
 ('4000008', 'Team Sports', '138.91'),
 ('4000008', 'Games', '9.87'),
 ('4000007', 'Outdoor Recreation', '194.88'),
 ('4000005', 'Puzzles', '51.4'),
 ('4000003', 'Water Sports', '232.09'),
 ('4000004', 'Water Sports', '7.73'),
 ('4000009', 'Water Sports', '20.68'),
 ('4000001', 'Gymnastics', '60.45'),
 ('4000004', 'Water Sports', '53.68'),
 ('4000002', 'Exercise & Fitness', '8.4'),
 ('4000004', 'Outdoor Recreation', '317.94'),
 ('4000005', 'Team Sports', '292.89'),
 ('4000007', 'Outdoor Recreation', '28.5'),
 ('4000003', 'Outdoor Recreation', '119.22'),
 ('4000005', 'Team Sports', '153.87'),
 ('4000002', 'Water Sports', '28.01'),
 ('4000009', 'Combat Sports', '10.23'),
 ('4000001', 'Gymnastics', '31.37'),
 ('4000002', 'Exercise & Fitness', '224.24'),
 ('4000007', 'Exercise & Fitness', '206.9'),
 ('4000009', 'Outdoor Play Equipment', '113.74'),
 ('4000005', 'Air Sports', '10.62'),
 ('4000003', 'Outdoor Recreation', '111.73'),
 ('4000002', 'Water Sports', '17.14'),
 ('4000002', 'Exercise & Fitness', '10.05'),
 ('4000002', 'Water Sports', '299.3'),
 ('4000004', 'Indoor Games', '42.25'),
 ('4000008', 'Outdoor Play Equipment', '99.8'),
 ('4000009', 'Outdoor Play Equipment', '233.19'),
 ('4000006', 'Winter Sports', '7.37'),
 ('4000009', 'Indoor Games', '53.85'),
 ('4000003', 'Gymnastics', '64.21'),
 ('4000005', 'Exercise & Fitness', '41.05'),
 ('4000008', 'Team Sports', '134.78'),
 ('4000002', 'Water Sports', '13.32'),
 ('4000003', 'Outdoor Recreation', '292.07'),
 ('4000004', 'Water Sports', '45.04'),
 ('4000004', 'Indoor Games', '44.61'),
 ('4000001', 'Exercise & Fitness', '80.38'),
 ('4000001', 'Winter Sports', '3.77'),
 ('4000002', 'Outdoor Recreation', '246.05'),
 ('4000002', 'Team Sports', '123.22'),
 ('4000007', 'Outdoor Recreation', '18.89'),
 ('4000006', 'Outdoor Play Equipment', '328.32'),
 ('4000004', 'Outdoor Recreation', '62.02'),
 ('4000008', 'Water Sports', '41.55'),
 ('4000010', 'Team Sports', '113.41'),
 ('4000006', 'Outdoor Play Equipment', '194.41'),
 ('4000006', 'Winter Sports', '11.11'),
 ('4000002', 'Water Sports', '295.41'),
 ('4000006', 'Winter Sports', '11.53'),
 ('4000008', 'Water Sports', '16.16'),
 ('4000008', 'Water Sports', '12.09'),
 ('4000005', 'Exercise & Fitness', '36.48'),
 ('4000003', 'Gymnastics', '80.47'),
 ('4000002', 'Exercise & Fitness', '78.19'),
 ('4000003', 'Outdoor Recreation', '328.6'),
 ('4000010', 'Exercise & Fitness', '21.98'),
 ('4000001', 'Winter Sports', '28.52'),
 ('4000010', 'Jumping', '53.19'),
 ('4000008', 'Team Sports', '105.49'),
 ('4000006', 'Jumping', '47.72'),
 ('4000007', 'Outdoor Recreation', '107.94'),
 ('4000002', 'Exercise & Fitness', '90.09'),
 ('4000008', 'Team Sports', '131.32'),
 ('4000008', 'Outdoor Recreation', '176.19'),
 ('4000004', 'Water Sports', '85.05'),
 ('4000002', 'Water Sports', '276.12'),
 ('4000004', 'Indoor Games', '27.18'),
 ('4000010', 'Games', '9.69'),
 ('4000003', 'Water Sports', '230.88'),
 ('4000002', 'Team Sports', '72.92'),
 ('4000010', 'Jumping', '91.22'),
 ('4000007', 'Team Sports', '30.49'),
 ('4000006', 'Winter Sports', '4.04'),
 ('4000010', 'Gymnastics', '29.6'),
 ('4000006', 'Outdoor Play Equipment', '82.09'),
 ('4000008', 'Water Sports', '11.61'),
 ('4000009', 'Indoor Games', '186.16'),
 ('4000002', 'Exercise & Fitness', '3'),
 ('4000001', 'Exercise & Fitness', '25.85'),
 ('4000008', 'Team Sports', '9.44'),
 ('4000004', 'Outdoor Recreation', '76.58'),
 ('4000009', 'Gymnastics', '147.06'),
 ('4000008', 'Outdoor Recreation', '98.66'),
 ('4000010', 'Exercise & Fitness', '49.32'),
 ('4000007', 'Outdoor Recreation', '64.36'),
 ('4000009', 'Indoor Games', '8.39'),
 ('4000003', 'Outdoor Recreation', '254.47'),
 ('4000001', 'Exercise & Fitness', '99.85'),
 ('4000009', 'Gymnastics', '121.29'),
 ('4000003', 'Water Sports', '272.92'),
 ('4000008', 'Outdoor Play Equipment', '53.25'),
 ('4000005', 'Puzzles', '19.47'),
 ('4000009', 'Indoor Games', '44.55'),
 ('4000001', 'Water Sports', '207.66'),
 ('4000009', 'Combat Sports', '60.07'),
 ('4000007', 'Exercise & Fitness', '295.51'),
 ('4000003', 'Gymnastics', '307.99'),
 ('4000001', 'Exercise & Fitness', '29.17'),
 ('4000004', 'Indoor Games', '12.48'),
 ('4000002', 'Outdoor Recreation', '63.06'),
 ('4000005', 'Team Sports', '267.63'),
 ('4000009', 'Indoor Games', '226.83'),
 ('4000007', 'Team Sports', '12.45'),
 ('4000008', 'Team Sports', '94.32'),
 ('4000007', 'Exercise & Fitness', '159.52'),
 ('4000002', 'Water Sports', '31.76'),
 ('4000003', 'Water Sports', '132.6'),
 ('4000003', 'Gymnastics', '210.87'),
 ('4000010', 'Exercise & Fitness', '62.91'),
 ('4000009', 'Water Sports', '13.36'),
 ('4000005', 'Exercise & Fitness', '45.95'),
 ('4000008', 'Team Sports', '124.94'),
 ('4000001', 'Exercise & Fitness', '167.92'),
 ('4000005', 'Outdoor Play Equipment', '73.33'),
 ('4000008', 'Water Sports', '34.15'),
 ('4000001', 'Combat Sports', '114.1'),
 ('4000004', 'Outdoor Recreation', '160.33'),
 ('4000002', 'Outdoor Recreation', '290.91'),
 ('4000004', 'Water Sports', '21.83'),
 ('4000002', 'Outdoor Recreation', '54.58'),
 ('4000007', 'Outdoor Recreation', '245.48'),
 ('4000010', 'Jumping', '82.78'),
 ('4000004', 'Water Sports', '32.66'),
 ('4000001', 'Water Sports', '83.09'),
 ('4000004', 'Outdoor Recreation', '22.19'),
 ('4000009', 'Outdoor Play Equipment', '145.18'),
 ('4000003', 'Outdoor Recreation', '232.37'),
 ('4000008', 'Games', '197.86'),
 ('4000001', 'Outdoor Recreation', '195.81'),
 ('4000001', 'Outdoor Recreation', '80.33'),
 ('4000006', 'Water Sports', '144.63'),
 ('4000005', 'Air Sports', '73.45'),
 ('4000006', 'Water Sports', '77.99'),
 ('4000010', 'Jumping', '115.67'),
 ('4000001', 'Water Sports', '52.04'),
 ('4000006', 'Water Sports', '95.07'),
 ('4000010', 'Games', '96.01'),
 ('4000007', 'Outdoor Recreation', '174.24'),
 ('4000006', 'Outdoor Play Equipment', '174.53'),
 ('4000005', 'Puzzles', '21.53'),
 ('4000003', 'Gymnastics', '51.33'),
 ('4000002', 'Team Sports', '75.29'),
 ('4000005', 'Exercise & Fitness', '43.21'),
 ('4000010', 'Gymnastics', '69.68'),
 ('4000005', 'Team Sports', '145.12'),
 ('4000005', 'Air Sports', '12.91'),
 ('4000010', 'Jumping', '121.6'),
 ('4000007', 'Team Sports', '44.65'),
 ('4000008', 'Team Sports', '38.17'),
 ('4000007', 'Outdoor Recreation', '218.14'),
 ('4000009', 'Gymnastics', '101.09'),
 ('4000008', 'Team Sports', '150.88'),
 ('4000007', 'Outdoor Recreation', '16.44'),
 ('4000005', 'Outdoor Play Equipment', '86.41'),
 ('4000007', 'Outdoor Recreation', '249.09')]

In [36]:
cau_10 = trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[4], float(x[3])))

In [37]:
max_10 = cau_10.groupBy(
    lambda x: x[0],
).flatMap(
    lambda g: nlargest(1, g[1], key=lambda x: (x[2]))
)

In [38]:
trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[3])) \
.reduceByKey(lambda x, y: float(x)+ float(y)).collect()

[('4000004', 1879.1099999999997),
 ('4000007', 3276.9700000000003),
 ('4000008', 2755.3199999999997),
 ('4000001', 2096.01),
 ('4000002', 3560.3500000000004),
 ('4000003', 3847.21),
 ('4000005', 1725.8799999999997),
 ('4000006', 1718.19),
 ('4000009', 2189.88),
 ('4000010', 1604.06)]

In [39]:
max_10.map(lambda x: (x[0],(x[1], x[2]))).join(trans240RDD.map(lambda x: x.split(",")) \
.map(lambda x: (x[2], x[3])).reduceByKey(lambda x, y: float(x)+ float(y))) \
.map(lambda x: (x[0], x[1][0][0], x[1][1])).sortBy(lambda x: x[0]).collect()

[('4000001', 'Water Sports', 2096.01),
 ('4000002', 'Exercise & Fitness', 3560.3500000000004),
 ('4000003', 'Outdoor Recreation', 3847.21),
 ('4000004', 'Outdoor Recreation', 1879.1099999999997),
 ('4000005', 'Team Sports', 1725.8799999999997),
 ('4000006', 'Outdoor Play Equipment', 1718.19),
 ('4000007', 'Exercise & Fitness', 3276.9700000000003),
 ('4000008', 'Games', 2755.3199999999997),
 ('4000009', 'Outdoor Play Equipment', 2189.88),
 ('4000010', 'Jumping', 1604.06)]

## **Câu 11 :** For each player ID, show the number of places (states) that player has visited, sorted by player ID

In [40]:
trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[7], 1)).distinct() \
.map(lambda x: (x[0], x[2])).reduceByKey(lambda x, y: float(x)+float(y)).sortBy(lambda x: x[0]).collect()

[('4000001', 7.0),
 ('4000002', 5.0),
 ('4000003', 3.0),
 ('4000004', 5.0),
 ('4000005', 5.0),
 ('4000006', 5.0),
 ('4000007', 5.0),
 ('4000008', 10.0),
 ('4000009', 5.0),
 ('4000010', 5.0)]

## **Câu 12 :** For each player ID, show the month with highest total cost, and the total cost in this month

show the month with highest total cost

In [41]:
trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[1], x[3])) \
.map(lambda x: (x[0],x[1][0]+x[1][1]+x[1][2],x[2])).collect()

[('4000001', 'Jun', '40.33'),
 ('4000002', 'May', '198.44'),
 ('4000002', 'Jan', '5.58'),
 ('4000003', 'May', '198.19'),
 ('4000002', 'Dec', '98.81'),
 ('4000004', 'Feb', '193.63'),
 ('4000005', 'Oct', '27.89'),
 ('4000006', 'Jul', '96.01'),
 ('4000006', 'Jan', '10.44'),
 ('4000006', 'May', '152.46'),
 ('4000007', 'May', '180.28'),
 ('4000009', 'Jun', '121.39'),
 ('4000009', 'Aug', '41.52'),
 ('4000010', 'Mar', '107.8'),
 ('4000010', 'Feb', '36.81'),
 ('4000001', 'Oct', '137.64'),
 ('4000010', 'May', '35.56'),
 ('4000008', 'Oct', '75.55'),
 ('4000008', 'Nov', '88.65'),
 ('4000008', 'Aug', '51.81'),
 ('4000005', 'Jun', '41.55'),
 ('4000005', 'Feb', '45.79'),
 ('4000009', 'Oct', '19.64'),
 ('4000009', 'Feb', '99.5'),
 ('4000003', 'Oct', '151.2'),
 ('4000009', 'Oct', '144.2'),
 ('4000009', 'Nov', '31.58'),
 ('4000010', 'Sep', '66.4'),
 ('4000008', 'Dec', '79.78'),
 ('4000001', 'Mar', '126.9'),
 ('4000001', 'Mar', '47.05'),
 ('4000008', 'Nov', '5.03'),
 ('4000008', 'Jan', '20.13'),
 ('4000008', 'Jun', '154.15'),
 ('4000008', 'Jun', '98.96'),
 ('4000008', 'Dec', '185.26'),
 ('4000007', 'Oct', '35.66'),
 ('4000007', 'Apr', '20.2'),
 ('4000007', 'May', '150.6'),
 ('4000006', 'Dec', '174.36'),
 ('4000005', 'Jul', '165.1'),
 ('4000004', 'Apr', '28.11'),
 ('4000004', 'Oct', '38.52'),
 ('4000004', 'Apr', '32.34'),
 ('4000001', 'Nov', '135.37'),
 ('4000001', 'Nov', '90.04'),
 ('4000001', 'May', '52.29'),
 ('4000008', 'Oct', '100.1'),
 ('4000007', 'Sep', '157.94'),
 ('4000010', 'Dec', '144.59'),
 ('4000010', 'Oct', '55.93'),
 ('4000002', 'Feb', '32.65'),
 ('4000005', 'Apr', '44.82'),
 ('4000004', 'Dec', '44.46'),
 ('4000007', 'Mar', '154.87'),
 ('4000006', 'Dec', '106.11'),
 ('4000002', 'Jun', '176.63'),
 ('4000003', 'Dec', '178.2'),
 ('4000002', 'Dec', '194.86'),
 ('4000001', 'Jul', '21.43'),
 ('4000010', 'Aug', '29.79'),
 ('4000009', 'Mar', '43.49'),
 ('4000001', 'Jun', '62.63'),
 ('4000003', 'Mar', '98.73'),
 ('4000004', 'Jan', '130.12'),
 ('4000005', 'Aug', '25.41'),
 ('4000002', 'Jul', '151.18'),
 ('4000002', 'Aug', '396.48'),
 ('4000008', 'Aug', '28.14'),
 ('4000010', 'May', '32.23'),
 ('4000002', 'Jun', '4.66'),
 ('4000004', 'Mar', '42.14'),
 ('4000001', 'Apr', '51.34'),
 ('4000003', 'Jun', '299.07'),
 ('4000007', 'Jul', '251.05'),
 ('4000008', 'Mar', '188.32'),
 ('4000010', 'Apr', '71.12'),
 ('4000007', 'Aug', '30.82'),
 ('4000007', 'Jan', '228.07'),
 ('4000009', 'Sep', '202.89'),
 ('4000001', 'Jun', '70.68'),
 ('4000010', 'Jan', '106.77'),
 ('4000004', 'Nov', '358.22'),
 ('4000008', 'Dec', '138.91'),
 ('4000008', 'May', '9.87'),
 ('4000007', 'Dec', '194.88'),
 ('4000005', 'May', '51.4'),
 ('4000003', 'May', '232.09'),
 ('4000004', 'Jul', '7.73'),
 ('4000009', 'Jan', '20.68'),
 ('4000001', 'Apr', '60.45'),
 ('4000004', 'Feb', '53.68'),
 ('4000002', 'Jul', '8.4'),
 ('4000004', 'May', '317.94'),
 ('4000005', 'Feb', '292.89'),
 ('4000007', 'Apr', '28.5'),
 ('4000003', 'Mar', '119.22'),
 ('4000005', 'Oct', '153.87'),
 ('4000002', 'Feb', '28.01'),
 ('4000009', 'Jun', '10.23'),
 ('4000001', 'Jun', '31.37'),
 ('4000002', 'Feb', '224.24'),
 ('4000007', 'Jul', '206.9'),
 ('4000009', 'Nov', '113.74'),
 ('4000005', 'Nov', '10.62'),
 ('4000003', 'Dec', '111.73'),
 ('4000002', 'Oct', '17.14'),
 ('4000002', 'Nov', '10.05'),
 ('4000002', 'Oct', '299.3'),
 ('4000004', 'Dec', '42.25'),
 ('4000008', 'Jun', '99.8'),
 ('4000009', 'Nov', '233.19'),
 ('4000006', 'Feb', '7.37'),
 ('4000009', 'Mar', '53.85'),
 ('4000003', 'May', '64.21'),
 ('4000005', 'Sep', '41.05'),
 ('4000008', 'Feb', '134.78'),
 ('4000002', 'Mar', '13.32'),
 ('4000003', 'Jul', '292.07'),
 ('4000004', 'Nov', '45.04'),
 ('4000004', 'May', '44.61'),
 ('4000001', 'Nov', '80.38'),
 ('4000001', 'Aug', '3.77'),
 ('4000002', 'Jan', '246.05'),
 ('4000002', 'Oct', '123.22'),
 ('4000007', 'Feb', '18.89'),
 ('4000006', 'Aug', '328.32'),
 ('4000004', 'Nov', '62.02'),
 ('4000008', 'Jan', '41.55'),
 ('4000010', 'Dec', '113.41'),
 ('4000006', 'Feb', '194.41'),
 ('4000006', 'Dec', '11.11'),
 ('4000002', 'Jan', '295.41'),
 ('4000006', 'Jul', '11.53'),
 ('4000008', 'Jul', '16.16'),
 ('4000008', 'Apr', '12.09'),
 ('4000005', 'May', '36.48'),
 ('4000003', 'Mar', '80.47'),
 ('4000002', 'Apr', '78.19'),
 ('4000003', 'Jul', '328.6'),
 ('4000010', 'Mar', '21.98'),
 ('4000001', 'Jan', '28.52'),
 ('4000010', 'Jan', '53.19'),
 ('4000008', 'Dec', '105.49'),
 ('4000006', 'Aug', '47.72'),
 ('4000007', 'Dec', '107.94'),
 ('4000002', 'Nov', '90.09'),
 ('4000008', 'Sep', '131.32'),
 ('4000008', 'Jul', '176.19'),
 ('4000004', 'Feb', '85.05'),
 ('4000002', 'May', '276.12'),
 ('4000004', 'Mar', '27.18'),
 ('4000010', 'Oct', '9.69'),
 ('4000003', 'Jul', '230.88'),
 ('4000002', 'May', '72.92'),
 ('4000010', 'Feb', '91.22'),
 ('4000007', 'Sep', '30.49'),
 ('4000006', 'Jan', '4.04'),
 ('4000010', 'Aug', '29.6'),
 ('4000006', 'May', '82.09'),
 ('4000008', 'Dec', '11.61'),
 ('4000009', 'Apr', '186.16'),
 ('4000002', 'Jan', '3'),
 ('4000001', 'Dec', '25.85'),
 ('4000008', 'Oct', '9.44'),
 ('4000004', 'Aug', '76.58'),
 ('4000009', 'Jan', '147.06'),
 ('4000008', 'Feb', '98.66'),
 ('4000010', 'Jan', '49.32'),
 ('4000007', 'Dec', '64.36'),
 ('4000009', 'May', '8.39'),
 ('4000003', 'Jan', '254.47'),
 ('4000001', 'Aug', '99.85'),
 ('4000009', 'Jun', '121.29'),
 ('4000003', 'Oct', '272.92'),
 ('4000008', 'Sep', '53.25'),
 ('4000005', 'Jul', '19.47'),
 ('4000009', 'Jun', '44.55'),
 ('4000001', 'Nov', '207.66'),
 ('4000009', 'Dec', '60.07'),
 ('4000007', 'Oct', '295.51'),
 ('4000003', 'Jun', '307.99'),
 ('4000001', 'Oct', '29.17'),
 ('4000004', 'Dec', '12.48'),
 ('4000002', 'Aug', '63.06'),
 ('4000005', 'Oct', '267.63'),
 ('4000009', 'Feb', '226.83'),
 ('4000007', 'Sep', '12.45'),
 ('4000008', 'Apr', '94.32'),
 ('4000007', 'Jul', '159.52'),
 ('4000002', 'Sep', '31.76'),
 ('4000003', 'Mar', '132.6'),
 ('4000003', 'Apr', '210.87'),
 ('4000010', 'Aug', '62.91'),
 ('4000009', 'Dec', '13.36'),
 ('4000005', 'Aug', '45.95'),
 ('4000008', 'Feb', '124.94'),
 ('4000001', 'Oct', '167.92'),
 ('4000005', 'Sep', '73.33'),
 ('4000008', 'Jul', '34.15'),
 ('4000001', 'Feb', '114.1'),
 ('4000004', 'Sep', '160.33'),
 ('4000002', 'Dec', '290.91'),
 ('4000004', 'Jul', '21.83'),
 ('4000002', 'Oct', '54.58'),
 ('4000007', 'Oct', '245.48'),
 ('4000010', 'Aug', '82.78'),
 ('4000004', 'Aug', '32.66'),
 ('4000001', 'Mar', '83.09'),
 ('4000004', 'Jun', '22.19'),
 ('4000009', 'Mar', '145.18'),
 ('4000003', 'Jul', '232.37'),
 ('4000008', 'Jan', '197.86'),
 ('4000001', 'Sep', '195.81'),
 ('4000001', 'Feb', '80.33'),
 ('4000006', 'Oct', '144.63'),
 ('4000005', 'Oct', '73.45'),
 ('4000006', 'Feb', '77.99'),
 ('4000010', 'Jun', '115.67'),
 ('4000001', 'Jun', '52.04'),
 ('4000006', 'Jan', '95.07'),
 ('4000010', 'Mar', '96.01'),
 ('4000007', 'May', '174.24'),
 ('4000006', 'May', '174.53'),
 ('4000005', 'Aug', '21.53'),
 ('4000003', 'Nov', '51.33'),
 ('4000002', 'Jul', '75.29'),
 ('4000005', 'May', '43.21'),
 ('4000010', 'Nov', '69.68'),
 ('4000005', 'Mar', '145.12'),
 ('4000005', 'Oct', '12.91'),
 ('4000010', 'May', '121.6'),
 ('4000007', 'Jul', '44.65'),
 ('4000008', 'Sep', '38.17'),
 ('4000007', 'Apr', '218.14'),
 ('4000009', 'Oct', '101.09'),
 ('4000008', 'Jan', '150.88'),
 ('4000007', 'Jun', '16.44'),
 ('4000005', 'Apr', '86.41'),
 ('4000007', 'Sep', '249.09')]

In [42]:
cau_12 = trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[1], x[3])) \
.map(lambda x: (x[0],x[1][0]+x[1][1]+x[1][2],float(x[2])))

In [43]:
from heapq import nlargest
month_max = cau_12.groupBy(
    lambda x: x[0],
).flatMap(
    lambda g: nlargest(1, g[1], key=lambda x: int(x[2]))
)
#map(lambda x: (x[0],(x[1], x[2]))).reduceByKey(lambda x, y: (str(x[0])+","+str(y[0]), (str(x[1])+","+str(y[1])))).collect()

In [44]:
month_max.collect()

[('4000004', 'Nov', 358.22),
 ('4000007', 'Oct', 295.51),
 ('4000008', 'Jan', 197.86),
 ('4000001', 'Nov', 207.66),
 ('4000002', 'Aug', 396.48),
 ('4000003', 'Jul', 328.6),
 ('4000005', 'Feb', 292.89),
 ('4000006', 'Aug', 328.32),
 ('4000009', 'Nov', 233.19),
 ('4000010', 'Dec', 144.59)]

In [45]:
max_of_each_month = trans240RDD.map(lambda x: x.split(",")).map(lambda x: (x[2], x[1], x[3])) \
.map(lambda x: ((x[0],x[1][0]+x[1][1]+x[1][2]),float(x[2]))) \
.reduceByKey(lambda x, y: float(x)+float(y))

In [46]:
max_of_each_month.collect()

[(('4000001', 'Jun'), 257.05),
 (('4000002', 'Jan'), 550.0400000000001),
 (('4000002', 'Dec'), 584.58),
 (('4000005', 'Oct'), 535.75),
 (('4000006', 'Jul'), 107.54),
 (('4000006', 'Jan'), 109.55),
 (('4000007', 'May'), 505.12),
 (('4000009', 'Jun'), 297.46000000000004),
 (('4000009', 'Aug'), 41.52),
 (('4000010', 'Mar'), 225.79000000000002),
 (('4000010', 'Feb'), 128.03),
 (('4000001', 'Oct'), 334.72999999999996),
 (('4000005', 'Jun'), 41.55),
 (('4000005', 'Feb'), 338.68),
 (('4000009', 'Oct'), 264.92999999999995),
 (('4000009', 'Feb'), 326.33000000000004),
 (('4000003', 'Oct'), 424.12),
 (('4000009', 'Nov'), 378.51),
 (('4000010', 'Sep'), 66.4),
 (('4000001', 'Mar'), 257.03999999999996),
 (('4000006', 'Dec'), 291.58000000000004),
 (('4000005', 'Jul'), 184.57),
 (('4000001', 'Nov'), 513.45),
 (('4000010', 'Dec'), 258.0),
 (('4000010', 'Oct'), 65.62),
 (('4000002', 'Feb'), 284.9),
 (('4000005', 'Apr'), 131.23),
 (('4000002', 'Jun'), 181.29),
 (('4000003', 'Dec'), 289.93),
 (('4000001', 'Jul'), 21.43),
 (('4000010', 'Aug'), 205.07999999999998),
 (('4000009', 'Mar'), 242.52),
 (('4000003', 'Mar'), 431.02),
 (('4000005', 'Aug'), 92.89),
 (('4000002', 'Jul'), 234.87),
 (('4000002', 'Aug'), 459.54),
 (('4000001', 'Apr'), 111.79),
 (('4000003', 'Jun'), 607.06),
 (('4000010', 'Apr'), 71.12),
 (('4000009', 'Sep'), 202.89),
 (('4000010', 'Jan'), 209.27999999999997),
 (('4000008', 'May'), 9.87),
 (('4000009', 'Jan'), 167.74),
 (('4000004', 'May'), 362.55),
 (('4000005', 'Nov'), 10.62),
 (('4000002', 'Oct'), 494.24),
 (('4000002', 'Nov'), 100.14),
 (('4000006', 'Feb'), 279.77),
 (('4000005', 'Sep'), 114.38),
 (('4000002', 'Mar'), 13.32),
 (('4000003', 'Jul'), 1083.92),
 (('4000001', 'Aug'), 103.61999999999999),
 (('4000006', 'Aug'), 376.03999999999996),
 (('4000002', 'Apr'), 78.19),
 (('4000001', 'Jan'), 28.52),
 (('4000009', 'Apr'), 186.16),
 (('4000001', 'Dec'), 25.85),
 (('4000003', 'Jan'), 254.47),
 (('4000009', 'Dec'), 73.43),
 (('4000002', 'Sep'), 31.76),
 (('4000003', 'Apr'), 210.87),
 (('4000001', 'Feb'), 194.43),
 (('4000001', 'Sep'), 195.81),
 (('4000006', 'Oct'), 144.63),
 (('4000010', 'Jun'), 115.67),
 (('4000003', 'Nov'), 51.33),
 (('4000010', 'Nov'), 69.68),
 (('4000005', 'Mar'), 145.12),
 (('4000002', 'May'), 547.48),
 (('4000003', 'May'), 494.48999999999995),
 (('4000004', 'Feb'), 332.36),
 (('4000006', 'May'), 409.08000000000004),
 (('4000010', 'May'), 189.39),
 (('4000008', 'Oct'), 185.08999999999997),
 (('4000008', 'Nov'), 93.68),
 (('4000008', 'Aug'), 79.95),
 (('4000008', 'Dec'), 521.05),
 (('4000008', 'Jan'), 410.42),
 (('4000008', 'Jun'), 352.91),
 (('4000007', 'Oct'), 576.65),
 (('4000007', 'Apr'), 266.84),
 (('4000004', 'Apr'), 60.45),
 (('4000004', 'Oct'), 38.52),
 (('4000001', 'May'), 52.29),
 (('4000007', 'Sep'), 449.96999999999997),
 (('4000004', 'Dec'), 99.19000000000001),
 (('4000007', 'Mar'), 154.87),
 (('4000004', 'Jan'), 130.12),
 (('4000004', 'Mar'), 69.32),
 (('4000007', 'Jul'), 662.1200000000001),
 (('4000008', 'Mar'), 188.32),
 (('4000007', 'Aug'), 30.82),
 (('4000007', 'Jan'), 228.07),
 (('4000004', 'Nov'), 465.28000000000003),
 (('4000007', 'Dec'), 367.18),
 (('4000005', 'May'), 131.09),
 (('4000004', 'Jul'), 29.56),
 (('4000008', 'Feb'), 358.38),
 (('4000007', 'Feb'), 18.89),
 (('4000008', 'Jul'), 226.5),
 (('4000008', 'Apr'), 106.41),
 (('4000008', 'Sep'), 222.74),
 (('4000004', 'Aug'), 109.24),
 (('4000009', 'May'), 8.39),
 (('4000004', 'Sep'), 160.33),
 (('4000004', 'Jun'), 22.19),
 (('4000007', 'Jun'), 16.44)]

In [47]:
max_of_each_month.join(month_max.map(lambda x: ((x[0], x[1]), x[2]))) \
.map(lambda x: (x[0][0],x[0][1], x[1][0])).collect()

[('4000005', 'Feb', 338.68),
 ('4000001', 'Nov', 513.45),
 ('4000010', 'Dec', 258.0),
 ('4000008', 'Jan', 410.42),
 ('4000009', 'Nov', 378.51),
 ('4000002', 'Aug', 459.54),
 ('4000003', 'Jul', 1083.92),
 ('4000006', 'Aug', 376.03999999999996),
 ('4000007', 'Oct', 576.65),
 ('4000004', 'Nov', 465.28000000000003)]

## **Câu 13 :** For each player ID, show the list of three games with most transactions, and the list of the number of transactions of these three games, the results are sorted by player IDs

In [48]:
from operator import add
from heapq import nlargest
trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[4], x[2])).distinct() \
.join(trans240RDD.map(lambda x: x.split(',')).map(lambda x: (x[4], 1)).reduceByKey(add)) \
.map(lambda x: (x[1][0], x[0], x[1][1])) \
.groupBy(lambda x: x[0]).flatMap(lambda g: nlargest(3, g[1], key=lambda x: x[2])) \
.map(lambda x: (x[0], (x[1], x[2]))) \
.reduceByKey(lambda x,y: (x[0] + " - " + y[0], str(x[1]) + " - " + str(y[1]))).sortByKey().collect()

[('4000001',
  ('Outdoor Recreation - Water Sports - Exercise & Fitness', '45 - 43 - 32')),
 ('4000002',
  ('Outdoor Recreation - Water Sports - Team Sports', '45 - 43 - 32')),
 ('4000003',
  ('Outdoor Recreation - Water Sports - Gymnastics', '45 - 43 - 17')),
 ('4000004',
  ('Outdoor Recreation - Water Sports - Indoor Games', '45 - 43 - 13')),
 ('4000005',
  ('Team Sports - Exercise & Fitness - Outdoor Play Equipment',
   '32 - 32 - 17')),
 ('4000006',
  ('Water Sports - Outdoor Play Equipment - Jumping', '43 - 17 - 10')),
 ('4000007',
  ('Outdoor Recreation - Team Sports - Exercise & Fitness', '45 - 32 - 32')),
 ('4000008',
  ('Outdoor Recreation - Water Sports - Team Sports', '45 - 43 - 32')),
 ('4000009',
  ('Water Sports - Gymnastics - Outdoor Play Equipment', '43 - 17 - 17')),
 ('4000010',
  ('Team Sports - Exercise & Fitness - Gymnastics', '32 - 32 - 17'))]

## **Câu 14 :**

## **Câu 15 :**

## **Câu 16 :**